.contacts
  padding: 80px 0 107px
  &-item
    margin-bottom: 90px
    .row      
      position: relative 
  &-title
    padding-top: 4px
    margin-bottom: 25px 
    +bold
    font-weight: 500
    font-size: 50px
    line-height: 55px
    color: $black
    margin-bottom: 40px
    max-width: calc( 50% - 30px )
  &-phone
    position: relative
    padding-left: 49px
    margin-bottom: 20px
    a 
      +norm
      font-size: 16px
      line-height: 26px
      color: $black
    &::before
      position: absolute
      top: 4px
      left: 0
      content: url(../images/images/phone.svg)  
  &-adress
    position: relative
    padding-left: 49px    
    +norm
    font-size: 16px
    line-height: 26px
    color: $black
    margin-bottom: 20px
    &::before
      position: absolute
      top: 1px
      left: 0
      content: url(../images/images/point-b.svg)  
  &-time
    position: relative
    padding-left: 49px
    margin-bottom: 10px    
    p 
      +norm
      font-size: 16px
      line-height: 26px
      color: $black
      margin-bottom: 0
    &::before
      position: absolute
      top: 1px
      left: 0
      content: url(../images/images/clock.svg)  
  &-email
    position: relative
    padding-left: 49px
    margin-bottom: 30px    
    &-block
      a 
        +norm
        font-size: 16px
        line-height: 26px
        color: $red     
    &::before
      position: absolute
      top: 6px
      left: 0
      content: url(../images/images/mail.svg) 
  &-foto
    position: absolute
    top: 0
    right: 15px
    width: 423px
    height: 404px
    border-bottom: 30px solid $white 
    border-left: 30px solid $white 
    z-index: 2
  &-img
    position: relative
    width: 100%
    height: 100%
    // &::after
    //   position: absolute
    //   top: 0
    //   left: 0
    //   width: 100%
    //   height: 100%
    //   content: ''
    //   background: $grad      
  &-map
    width: 100%
    height: 400px  
    z-index: 1

[class*="ymaps-2"][class*="-ground-pane"] 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%)
    /* Chrome 19+ & Safari 6+ */
       

@media screen and ( max-width: 1439px )
  .contacts
    &-adress,
    &-time p,
    &-phone-block a,
    &-email-block a 
      font-size: 14px
      line-height: 24px
@media screen and ( max-width: 991px )        
  .contacts
    &-adress,
    &-time p,
    &-phone-block a,
    &-email-block a 
      font-size: 16px
      line-height: 26px
    &-foto
      width: 350px
@media screen and ( max-width: 767px )           
  .contacts
    padding: 44px 0 0
    margin-bottom: -190px
    &-item
      margin-bottom: 0
      &:nth-of-type(2)
        transform: translateY(-70px)
      &:nth-of-type(3)
        transform: translateY(-140px)        
    &-title
      max-width: none
      font-size: 40px
      line-height: 50px
      margin-bottom: 30px
    &-foto
      margin: 0 auto
      position: relative
      height: 340px
      right: 0
      width: 100%
      max-width: 433px
      border-right: 35px solid $white
      border-bottom: 35px solid $white
      border-left: 35px solid $white
    &-map
      transform: translate(-20px, -100px)
      height: 300px
      width: calc( 100% + 40px )  
@media screen and ( max-width: 575px )
  .contacts
    &-title
      font-size: 30px
      line-height: 35px
      margin-bottom: 24px
    &-adress,
    &-time,
    &-phone
      margin-bottom: 20px
    &-adress,
    &-time,
    &-phone,
    &-email
      padding-left: 36px
@media screen and ( max-width: 465px )      
  .contacts
    &-foto
      margin: 0 16px
    
      
        