.main
  &-cover
    height: 420px
    background: url(../images/hd/page-cover.jpg) no-repeat
    background-size: cover
    background-position: center top
  &-slider
    &-top
      padding: 50px 0 0
      margin-bottom: 75px
      .slick-arrow
        position: absolute
        font-size: 0
        line-height: 0
        width: 100%
        max-width: 533px
        height: 25px 
        background: transparent
        border: none
        outline: none
        z-index: 20
        &:focus
          outline: none 
      .slick-next  
        bottom: -62px
        right: 0
        &::before
          position: absolute
          content: url(../images/images/next-red.svg) 
          top: 0
          right: 0   
      .slick-prev
        bottom: -62px
        left: 0
        &::before
          position: absolute
          content: url(../images/images/prev-red.svg) 
          top: 0
          left: 0
      .slider-count
        bottom: -62px
        &-cur
          color: $black
      &-info
        position: relative
        padding: 57px 30px 0 15px
        &::before
          position: absolute
          content: ''
          width: calc(100% + 30px)
          height: 5px
          background: $black
          top: 0
          left: -30px
      &-date
        +lack 
        font-size: 60px
        line-height: 35px
        color: $black
        margin-bottom: 17px
      &-day 
        +lack 
        font-size: 20px
        line-height: 20px
        text-transform: uppercase
        color: $black
        margin-bottom: 37px
      &-name
        +norm 
        font-size: 40px
        line-height: 45px
        color: $black
        margin-bottom: 16px
      &-actors
        margin-bottom: 10px
        p 
          +bold 
          font-weight: 500
          font-size: 14px
          line-height: 24px
          color: $black
          margin-bottom: 0
      &-age
        +norm 
        font-weight: 500
        font-size: 14px
        line-height: 24px
        color: $black
        margin-bottom: 40px
        span 
          +bold 
  &-section
    padding: 82px 0 100px
    &-title
      display: flex
      align-items: center
      padding-bottom: 38px
      border-bottom: 5px solid $black
      margin-bottom: 48px
      &-name
        +bold
        font-weight: 500
        font-size: 60px
        line-height: 65px
        color: $black
        margin-right: 39px
      &-link
        padding-top: 8px
        a 
          position: relative
          +norm
          font-size: 16px
          line-height: 16px
          color: $red
          &::after
            position: absolute
            top: -4px
            right: -142px
            content: url(../images/images/main-link.svg)
  &-bill
    &-content
      .col-6
        &:nth-child(even)
          padding-top: 100px          
    &-item
      position: relative
      display: flex
      color: $black      
      &::before
        position: absolute
        content: url(../images/images/ticket-b.svg)
        display: flex
        align-items: center
        justify-content: center
        width: 70px
        height: 70px
        right: -25px
        bottom: -28px
        border-radius: 50%
        transition: 0.3s
        opacity: 1
      &::after
        position: absolute
        content: url(../images/images/ticket-w.svg)
        display: flex
        align-items: center
        justify-content: center
        width: 70px
        height: 70px
        background: $red
        right: -25px
        bottom: -28px
        border-radius: 50%
        transition: 0.3s
        opacity: 0

      // &-ticket
      //   position: absolute
      //   right: 0
      //   bottom: -17px
      //   width: 70px
      //   height: 70px
      //   background: $red
      //   border-radius: 50%
        // a 
        //   width: 100%
        //   height: 100%
        //   position: relative
        
      &-info
        min-width: 86px
        margin-right: 20px
        transform: translateY(-3px)
      &-date
        text-align: right
        +lack
        font-size: 30px
        line-height: 32px
        transition: 0.3s
      &-day
        text-align: right
        +lack 
        font-size: 17px
        line-height: 20px
        text-transform: uppercase
        margin-bottom: 12px
        transition: 0.3s
      &-scene
        transition: 0.3s
        text-align: right
        +norm
        font-size: 13px
        line-height: 15px
        margin-bottom: 5px
      &-age
        transition: 0.3s
        text-align: right 
        +lack
        font-size: 17px
        line-height: 35px
        color: $grey2
      &-cover
        position: relative
        padding-bottom: 25px
        &::after
          position: absolute
          content: ''
          bottom: 0
          left: 0
          height: 1px
          width: 180px
          background: $black
          transition: 0.3s
      &-img
        position: relative
        margin-bottom: 23px
        overflow: hidden
        &::before
          position: absolute
          content: ''
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: $grad
          z-index: 1
        img 
          width: 100%
          transform: scale(1.1)
          transition: 3s
      &-title
        +norm
        font-size: 30px
        line-height: 40px
        margin-bottom: 15px
        max-width: 75%
        transition: 0.3s
      &-actors
        +norm
        font-size: 13px
        line-height: 20px
        max-width: 75%
  &-billboard
    position: relative
    overflow: hidden
    &-title
      position: absolute
      top: 0
      +lack 
      font-size: 80px
      line-height: 80px
      color: $red
      text-transform: uppercase
      transform: translateY(50%)
      span 
        color: $black
    &-img
      width: 100%
      position: relative
      &::after
        position: absolute
        content: ''
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: $grad
      img 
        width: 100%
    &-wrap
      position: relative
      width: 100%
      height: 60px
      background: $red
      margin-bottom: 100px
    &-content
      width: 300%
      animation: marquee 5s linear infinite forwards
      display: flex      
    &-row
      display: flex
      flex-wrap: nowrap
    &-item
      margin-right: 140px
      &-date
        padding-top: 3px
        text-align: right
        width: 90px
        +lack
        font-size: 30px
        line-height: 55px
        text-transform: uppercase
        color: $white
        margin-bottom: 30px
      &-info
        display: flex
      &-nums
          width: 90px
          min-width: 90px
          margin-right: 30px
      &-time
        text-align: right
        +lack 
        font-size: 20px
        line-height: 25px
        color: $black
        text-transform: uppercase
      &-day
        text-align: right
        +lack 
        font-size: 20px
        line-height: 25px
        color: $black
        text-transform: uppercase
      &-age
        text-align: right
        +lack 
        font-size: 20px
        line-height: 35px
        color: $grey2
      &-text 
        +norm 
        font-size: 24px
        line-height: 34px
        min-width: 394px
        width: 394px
  &-repertoire
    &-item
      &-img
        position: relative
        margin-bottom: 23px
        overflow: hidden
        &::before
          position: absolute
          content: ''
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: $grad
          z-index: 1
        img 
          width: 100%
          transform: scale(1.1)
          transition: 3s
      &-info
        display: flex
      &-age
        min-width: 76px
        color: $grey2
        +lack 
        font-size: 20px
        line-height: 35px
        text-transform: uppercase
      &-desc
        flex-grow: 1
      &-name
        +norm
        font-size: 30px
        line-height: 40px
        color: $black
        margin-bottom: 14px
        transition: 0.3s
      &-actors
        position: relative
        +norm
        font-size: 13px
        line-height: 20px
        color: $black 
        max-width: 80%
        padding-bottom: 25px
        margin-bottom: 50px        
        &::after
          position: absolute
          content: ''
          bottom: 0
          left: 0
          height: 1px
          width: 150px
          background: $black
          transition: 0.3s
  &-projects
    padding-top: 0
  &-news
    .main-section-title
      margin-bottom: 0  
  &-partners
    padding-top: 30px
    .main-section-title
      padding-bottom: 0
      border: none
      margin-bottom: 30px          
  &-slider-partners
    margin-bottom: 100px
    .slick-arrow
      position: absolute
      font-size: 0
      line-height: 0
      width: 100%
      max-width: 533px
      height: 25px 
      background: transparent
      border: none
      outline: none
      z-index: 20
      &:focus
        outline: none 
    .slick-next  
      bottom: -62px
      right: 0
      &::before
        position: absolute
        content: url(../images/images/next-black.svg) 
        top: 0
        right: 0   
    .slick-prev
      bottom: -62px
      left: 0
      &::before
        position: absolute
        content: url(../images/images/prev-black.svg) 
        top: 0
        left: 0
    .slider-count
      bottom: -62px
      &-cur
        color: $black
    &-slide
      display: flex
      align-items: center
      justify-content: center
      height: 182px
      width: 100%
      padding: 0 15px
      img
        width: 100%
  &-theatre
    padding-top: 15px    
    &-title
      position: relative
      +bold 
      font-weight: 500
      font-size: 60px
      line-height: 65px
      color: $black
      margin-bottom: 30px
    &-canvas
      position: absolute
      width: 550px
      right: 0
      top: 0
      z-index: 1
      img
        width: 100%  
    &-subtitle
      +norm
      font-size: 40px
      line-height: 50px
      color: $black
      margin-bottom: 45px
      max-width: 812px
  &-scenes
    &-cover
      position: relative
      &::after
        position: absolute
        content: ''
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $grad
      img 
        width: 100%         
    &-list
      padding: 100px 0 70px
      &-item
        position: relative
        margin-bottom: 30px
        &::before
          position: absolute
          content: ''
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: $grad2
        &::after
          position: absolute
          content: ''
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: $grad
        img 
          width: 100%
          height: 100%
    &-content
      position: absolute
      content: ''
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      justify-content: flex-end
      padding: 0 95px 44px
      z-index: 1
      &-name
        +bold 
        font-weight: 500
        font-size: 50px
        line-height: 60px
        padding-bottom: 28px
        border-bottom: 5px solid $white
        color: $white
        margin-bottom: 40px
        p 
          margin-bottom: 0
      &-link
        position: relative
        +norm 
        font-size: 16px
        line-height: 16px
        color: $red
        &::after
          position: absolute
          top: -4px
          left: 210px
          content: url(../images/images/main-link.svg)  

@keyframes marquee 
  0% 
    transform: translateX(0); 
  100% 
    transform: translateX(-66.6%)
