.links
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
.link
  display: block
  font-size: 16px 
  text-transform: uppercase
  color: $black
  margin-bottom: 10px  