.news  
  padding: 50px 0 
  &-item
    display: block
    padding: 50px 0 50px
    border-bottom: 1px solid $black
    transition: 0.3s
    &-secondary
    &-date
      +lack
      color: $black
      transition: 0.3s
      padding: 0 13px 0 10px 
      transform: translateY(-10px)
      &-day
        font-size: 30px
        line-height: 35px
        margin-bottom: 0
      &-time
        font-size: 17px 
        line-height: 20px
        text-transform: uppercase
    &-img       
      img 
        width: 100%
    &-text
      transform: translateY(-11px) 
      padding: 0 18px
      &-title
        font-size: 30px 
        line-height: 40px
        color: $black 
      &-content 
        font-size: 16px
        line-height: 28px 
        color: $black            

