.news  
  padding: 50px 0 
  &-item
    position: relative
    display: block
    padding: 50px 0 50px
    transition: 0.3s
    overflow: hidden
    &::before
      position: absolute
      content: ''
      left: 0
      bottom: 0
      width: 100%
      height: 1px
      background: $black
    &::after
      position: absolute
      content: ''
      left: 0
      bottom: 0
      width: 100%
      height: 5px
      background: $red
      transform: translateX(-100%)
      transition: 0.3s
      z-index: 1
    &-secondary
    &-date
      +lack
      color: $black
      transition: 0.3s
      padding: 0 13px 0 10px 
      transform: translateY(-10px)
      &-day
        font-size: 30px
        line-height: 35px
        margin-bottom: 0
      &-time
        font-size: 17px 
        line-height: 20px
        text-transform: uppercase
    &-img       
      img 
        width: 100%
    &-text
      transform: translateY(-11px) 
      padding: 0 18px
      &-title
        font-size: 30px 
        line-height: 40px
        color: $black 
      &-content 
        font-size: 16px
        line-height: 28px 
        color: $black            

