.playbill
  &-date
    padding-bottom: 50px    
    border-bottom: 1px solid $black
    a[name]
      display: block
      padding-top: 50px
  &-day
    padding-top: 6px 
    color: $black
    &-number, &-letter
      +lack
      font-size: 60px
      line-height: 35px
      text-transform: uppercase
      margin-bottom: 14px
    &-name
      +lack 
      font-size: 18px
      line-height: 20px
      text-transform: uppercase
    &.weekend
      color: $red          
  &-item
    display: flex
    position: relative
    margin-bottom: 42px    
    &:before 
      position: absolute
      content: ''
      top: 0
      left: -30px
      width: 1px
      height: 50px
      background: $black
      transition: 0.3s
    &::after
      position: absolute
      content: ''
      top: 0
      left: -32px
      width: 5px
      height: 50px
      background: $red
      transition: 0.3s
      transform: scaleY(0)
      transform-origin: center top
    &:last-of-type
      margin-bottom: 0
    &-img
      position: relative
      display: block
      min-width: 287px
      width: 287px
      margin-right: 48px
      height: min-content
      img 
        width: 100%      
      &::after
        position: absolute
        width: 100%
        height: 100%
        content: ''
        top: 0
        left: 0
        background: $grad
    &-wrap
      display: flex             
    &-desc
      width: 100%
      max-width: 369px
      min-width: 369px

    &-time
      display: flex
      margin-bottom: 16px
      +lack
      font-size: 18px
      line-height: 20px
      text-transform: uppercase
      &-info
        color: $black
        margin-right: 8px
        transition: .3s
      &-age
        position: relative
        color: $grey2
        padding-left: 12px
        transition: .3s
        &::before
          position: absolute
          content: '/'
          color: $grey2
          left: 0
          top: 0
          transition: .3s
    &-title
      +norm
      font-size: 30px
      line-height: 40px
      color: $black      
      margin-bottom: 10px
      transition: .3s
    &-info, &-scene
      +norm
      font-weight: 300
      font-size: 13px
      line-height: 20px
      margin-bottom: 4px
      color: $black
    &-ticket
      display: flex
      align-items: center
      &-text
        opacity: 0
        +norm
        font-size: 18px
        color: $red
        transition: .3s
      &-img
        position: relative
        margin-left: 20px
        &::before
          position: absolute
          top: 0
          left: 0
          content: url(../images/images/ticket-r.svg)
          opacity: 0
          transition: .3s
        img
          transition: .3s
    &-buy
      position: relative
      min-width: 286px
      padding-left: 30px
      margin-left: 30px
      &::before 
        position: absolute
        content: ''
        top: 5px
        left: 0
        width: 1px
        height: 100px
        background: $black
      &-item
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 10px
      &-date
        +lack
        font-size: 30px
        line-height: 30px
        color: $black
        transition: .3s            

.playbill.date.noimg, .playbill.abc.noimg

  .playbill-item
    width: 100%
    padding-left: 30px
    &::before
      left: 0
    &::after
      left: -2px
    &-wrap
      width: 100%
  .playbill-item-desc
    max-width: none
  .playbill-item-title
    line-height: 24px
  .playbill-item-buy
    margin-left: auto


.playbill.abc.img
  .playbill-item-time-info
    position: relative
    margin-left: 19px
    margin-right: 0
    &:first-child
      margin-left: 0
      &::before
        display: none       
    &::before
      position: absolute
      content: '/'
      top: 0
      left: -14px    
  .playbill-item-time-age
    margin-left: 4px 

                
    

@media screen and ( max-width: 1439px )
  .playbill
    &-day
      &-number
        font-size: 40px
        line-height: 16px
    &-item
      &-wrap
        display: block
      &-buy
        padding-left: 0
        margin-left: 0
        margin-top: 15px
        &::before
          display: none 
  .playbill.noimg
    .playbill-item-wrap
      display: flex

@media screen and ( max-width: 1199px )
  .playbill.noimg
    .playbill-item-wrap
      display: block                    

@media screen and ( max-width: 1023px )
  .playbill.date    
    .playbill-item:before
      left: -10px

@media screen and ( max-width: 991px )
  .playbill-day-number 
    font-size: 38px
    line-height: 20px
  .playbill-item-wrap
    width: 100%
  .playbill-item-buy
    min-width: 100% 
  .playbill-item-ticket-text
    opacity: 1   

@media screen and ( max-width: 767px )
  .playbill
    &-day
      &-number
        font-size: 30px
        line-height: 14px
      &-name
        font-size: 14px

    &-item
      display: block
      &-img
        min-width: auto
        width: 100%
        margin-bottom: 22px
      &-ticket
        &-text
          font-size: 14px
        &-img
          margin-left: 10px  

  .playbill.abc.noimg, .playbill.date.noimg
    .playbill-item-time
      display: flex
      flex-wrap: wrap
      margin-right: 0
      &-info
        position: relative
        margin-left: 28px
        margin-right: 0
        &:first-child
          margin-left: 0
          &::before
            display: none       
        &::before
          position: absolute
          content: '/'
          top: 0
          left: -18px    
      &-age
        width: 100%
        margin-left: 4px

@media screen and ( max-width: 575px )
  .playbill
    &-date
      padding-bottom: 30px
      a[name]
        padding-top: 30px  
    &-day
      &-letter
        font-size: 40px
        line-height: 25px
      &-number
        font-size: 20px
        line-height: 6px
      &-name
        font-size: 8px    
    &-item
      padding: 0
      &::before
        left: -10px
      &-img
        margin-bottom: 12px
      &-time
        font-size: 12px
        margin-bottom: 2px
        &-age 
          &::before
            left: 2px
      &-title
        font-size: 20px
        line-height: 26px
        margin-bottom: 2px
      &-info, &-scene
        font-size: 12px
        line-height: 18px        
                
  .playbill.abc.img 
    .playbill-item-time-info::before
      left: -12px

  .playbill.abc.noimg, .playbill.date.noimg
    .playbill-item
      &::before
        height: 32px
      &-time
        margin-bottom: 0
        &-info
          font-size: 16px
          line-height: 20px
          margin-left: 16px
          margin-bottom: 0
          &::before
            left: -8px 
        &-age
          margin-left: 0
          margin-bottom: 12px       

  