.projects
  &-header
    position: relative
    height: 250px
    background: url(../images/hd/projects-cover.jpg) no-repeat
    background-size: cover
    padding-top: 81px
    &-icon
      position: absolute
      bottom: -44px
      right: 150px
  &-breadcrumb
    display: flex
    li 
      list-style: none
    &-link
      position: relative
      +norm
      font-size: 12px
      line-height: 20px
      font-weight: 300
      color: $white
      text-decoration: underline
      margin-right: 21px
      &::after
        position: absolute
        content: '/'
        top: -3px
        right: -13px
      &-disable
        text-decoration: none
        pointer-events: none
        cursor: default 
        &::after
          display: none 
  &-title
    +norm
    font-size: 60px
    line-height: 65px
    color: $white
    transform: translate(-5px, -11px)
  &-list
    padding-top: 100px
    &-item
      display: flex
      color: $black
      &:nth-of-type(2)
        padding-top: 50px
      &:nth-of-type(4)
        padding-top: 100px
      &:nth-of-type(6)
        padding-top: 100px
      &:nth-of-type(8)
        padding-top: 100px
      &:nth-of-type(even)
        margin-bottom: 10px
      &-date
        transform: translate(-3px, -7px)
        p 
          +lack
          font-size: 30px
          line-height: 35px
          margin: 0 22px 4px 0
          &:last-of-type
            margin-bottom: 0
        span 
          display: block
          width: 20px
          height: 1px
          background: $red
          transform: translateX(33px)
          margin-bottom: 2px
      &-title
        position: relative
        margin-top: 20px  
        +norm
        font-size: 30px
        line-height: 40px
        color: $black
        &::after
          position: absolute
          left: 0
          bottom: -28px
          content: ''
          width: 150px
          height: 1px
          background: $black
  &-ellipse
    display: flex
    align-items: center
    justify-content: center
    padding: 60px 0


            
