.projects  
  &-list
    padding-top: 100px
    &-item
      display: flex
      color: $black
      margin-bottom: 10px     
      &-date
        transform: translate(-3px, -7px)
        p 
          +lack
          font-size: 30px
          line-height: 35px
          margin: 0 22px 4px 0
          &:last-of-type
            margin-bottom: 0
        span 
          display: block
          width: 20px
          height: 1px
          background: $red
          transform: translateX(33px)
          margin-bottom: 2px
      &-img 
        img 
          width: 100%    
      &-title
        position: relative
        margin-top: 20px  
        +norm
        font-size: 30px
        line-height: 40px
        color: $black
        padding-bottom: 28px
        &::after
          position: absolute
          left: 0
          bottom: 0px
          content: ''
          width: 150px
          height: 1px
          background: $black
  

.projects-list
  .col-6
    &:nth-child(2)
      padding-top: 50px
    &:nth-child(4)
      padding-top: 89px
    &:nth-child(6)
      padding-top: 89px
    &:nth-child(8)
      padding-top: 89px  
            
