.slider-wrapper-mt .slick-arrow-fake {
	position: absolute;
	font-size: 0;
	line-height: 0;
	width: 100px;
	height: 100px;
	background: #ed4242;
	border: none;
	outline: 0;
	z-index: 20;
	cursor: pointer;
}

// .slider-wrapper-mt .slick-prev-fake {
// 	bottom: 0;
// 	right: calc(33.3334% + 110px);
// }

// .slider-wrapper-mt .slick-next-fake {
// 	bottom: 0;
// 	right: calc(33.3334% + 10px);
// }

.slider-wrapper-mt .slick-prev-fake:before {
	position: absolute;
	content: url(../images/images/prev-small.svg);
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.slider-wrapper-mt .slick-next-fake:before {
	position: absolute;
	content: url(../images/images/next-small.svg);
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.slider-wrapper-mt .slick-arrow {
	display: none !important;
}

.main-slider-top-img {
	position: relative;
}

.main-slider-top .img-mask {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all .5s ease;
	overflow: hidden;
}

.main-slider-top .img-mask:before {
	content: "";
	position: absolute;
	left: 100%;
	right: 0;
	top: 0;
	bottom: 0;
	background: #ed4242;
	transition: all .5s ease;
	z-index: 10;
}

.main-slider-top .img-mask.closing:before {
	left: 0;
}

.main-slider-top .img-mask.closed:before {
	left: 0 !important;
	right: 0 !important;
	transition: all 0s ease !important;
}

.main-slider-top .img-mask.opening:before {
	left: 0;
	right: 100%;
}

.main-slider-top .img-mask.open:before {
	left: 100% !important;
	right: 0 !important;
	transition: all 0s ease !important;
}

.main-slider-top.dir-prev .img-mask:before {
	left: 0;
	right: 100%;
}

.main-slider-top.dir-prev .img-mask.closing:before {
	right: 0;
}

.main-slider-top.dir-prev .img-mask.closed:before {
	left: 0 !important;
	right: 0 !important;
	transition: all 0s ease !important;
}

.main-slider-top.dir-prev .img-mask.opening:before {
	left: 100%;
	right: 0;
}

.main-slider-top.dir-prev .img-mask.open:before {
	left: 0 !important;
	right: 100% !important;
	transition: all 0s ease !important;
}

.main-slider-top-info-inner {
	transition: all .5s ease;
}

.main-slider-top-info-inner.closing {
	transform: translateY(50px);
	opacity: 0;
}

@media screen and (max-width: 767px) {
	.slider-wrapper-mt .slick-arrow-fake {
		width: 50px;
		height: 50px;
	}
	.slider-wrapper-mt .slick-prev-fake:before {
		content: url(../images/images/prev-mob.svg);
	}

	.slider-wrapper-mt .slick-next-fake:before {		
		content: url(../images/images/next-mob.svg);
	}
}