footer.footer
  .container
    .row
      .col-lg-4.col-12      
        .footer-scene
          .footer-scene-title Основная <br>сцена
          .footer-scene-contacts
            .footer-scene-contacts-phone
              a(href="tel:+74956297087") +7 (495) 629-70-87
            .footer-scene-contacts-adress Москва, Б. Гнездниковский пер., 10
            .footer-scene-contacts-time Время работы кассы: 18.00-21.00            
            .footer-scene-contacts-map
              a(href="#" class="footer-scene-contacts-map-link") Смотреть на карте
      .col-lg-4.col-12  
        .footer-scene.second
          .footer-scene-title Новая <br>сцена
          .footer-scene-contacts
            .footer-scene-contacts-phone
              a(href="tel:+74991437618") +7 (499) 143-76-18
            .footer-scene-contacts-adress Москва, ул. Академика Пилюгина, 2
            .footer-scene-contacts-time Время работы кассы: 18.00-21.00            
            .footer-scene-contacts-map
              a(href="#" class="footer-scene-contacts-map-link") Смотреть на карте          
      .col-lg-4.col-12  
        .footer-scene.last
          .footer-scene-title Главный <br>учебный корпус
          .footer-scene-contacts
            .footer-scene-contacts-phone
              a(href="tel:+74991437618") +7 (499) 143-76-18
            .footer-scene-contacts-adress Москва, Малый Кисловодский пер., 6
            .footer-scene-contacts-time Время работы кассы: 18.00-21.00            
            .footer-scene-contacts-map
              a(href="#" class="footer-scene-contacts-map-link") Смотреть на карте     
    .row
      .col-lg-4.col-12
        .footer-copyrights
          p 
            |© 2019 Сайт teatr-gitis.net является основным 
            |источником информации о деятельности
            |Учебного театра ГИТИСа. Неправомерное
            |использование информации о Российском
            |институте театрального искусства - ГИТИС может
            |повлечь за собой преследование согласно
            |действующему законодательству РФ.
          p   
            |При оформлении сайта были использованы
            |эскизы Сергея Куцевалова
          .footer-menu-link-study
            a(href="#") Институт ГИТИС  
      .col-lg-4.col-12.ordered
        .footer-menu
          ul.footer-menu-block
            li.footer-menu-link
              a(href="#") Афиша    
            li.footer-menu-link
              a(href="#") Репертуар    
            li.footer-menu-link
              a(href="#") Площадки
          ul.footer-menu-block
            li.footer-menu-link
              a(href="#") Новости    
            li.footer-menu-link
              a(href="#") Партнёры    
            li.footer-menu-link
              a(href="#") Контакты
        .footer-social
          .footer-social-text Театр ГИТИС в социальных сетях:      
          .footer-social-icons
            a.footer-social-link(href="#")
              img(src="images/images/fb-w.svg", alt="facebook")
            a.footer-social-link(href="#")
              img(src="images/images/vk-w.svg", alt="vk")          
            a.footer-social-link(href="#")
              img(src="images/images/inst-w.svg", alt="instagram")
            a.footer-social-link(href="#")
              img(src="images/images/youtube-w.svg", alt="youtube")
        .footer-menu-link-study
          a(href="#") Институт ГИТИС      
      .col-lg-4.col-12.footer-block
        .footer-tickets
          a(href="/", class="footer-logo")
            img(src="images/images/logo-footer.png", alt="лого") 
          a(href="#", class="footer-tickets-link")
            .footer-tickets-link-img
              img(src="images/images/ticket-r.svg", alt="билет")
            p Вернуть            
            p билет
        .footer-block-svg
          img(src="images/images/footer-svg.svg", alt="узор") 

script(src="scripts/jquery-3.3.1.min.js")
script(src="scripts/slick.min.js")
script(src="scripts/main.js")
script(src="https://api-maps.yandex.ru/2.1/?apikey=<2090755b-f1a0-458a-b63b-a00abf7a7de5>&lang=ru_RU")