footer.footer
  .container
    .row
      .col-4      
        .footer-scene
          .footer-scene-title Основная
          .footer-scene-title сцена
      .col-4  
        .footer-scene
          .footer-scene-title Новая
          .footer-scene-title сцена
    .row
      .col-8
        .footer-contacts
          .footer-contacts-main
            .footer-contacts-phone
              a(href="tel:+74956297087") +7 (495) 629-70-87
            .footer-contacts-adress Б. Гнездниковский пер., 10
            .footer-contacts-time Время работы кассы: 18.00-21.00            
            .footer-contacts-map
              a(href="#" class="footer-contacts-map-link") Смотреть на карте                
          .footer-contacts-main
            .footer-contacts-phone
              a(href="tel:+74991437618") +7 (499) 143-76-18
            .footer-contacts-adress Ул. Академика Пилюгина, 2            
            .footer-contacts-map
              a(href="#" class="footer-contacts-map-link") Смотреть на карте
      .footer-social-text.col-3 Театр ГИТИС в социальных сетях: 
      .footer-social-icons.col-1
        a.footer-social-link(href="#")
          img(src="images/images/vk-w.svg", alt="vk")
        a.footer-social-link(href="#")
          img(src="images/images/fb-w.svg", alt="facebook")
        a.footer-social-link(href="#")
          img(src="images/images/inst-w.svg", alt="instagram")
        a.footer-social-link(href="#")
          img(src="images/images/youtube-w.svg", alt="youtube")
    .row
      .col-4
        .footer-copyrights
          p 
            |© 2019 Сайт teatr-gitis.net является основным 
            |источником информации о деятельности
            |Учебного театра ГИТИСа. Неправомерное
            |использование информации о Российском
            |институте театрального искусства - ГИТИС может
            |повлечь за собой преследование согласно
            |действующему законодательству РФ.
          p   
            |При оформлении сайта были использованы
            |эскизы Сергея Куцевалова
      .col-2
        ul.footer-menu
          li.footer-menu-link
            a(href="#") Афиша    
          li.footer-menu-link
            a(href="#") Репертуар    
          li.footer-menu-link
            a(href="#") Площадки    
          li.footer-menu-link.footer-menu-link-study
            a(href="#") Институт ГИТИС    
      .col-2
        .footer-menu
          li.footer-menu-link
            a(href="#") Новости    
          li.footer-menu-link
            a(href="#") Партнеры    
          li.footer-menu-link
            a(href="#") Контакты
      .col-4
        .footer-tickets
          a(href="/", class="footer-logo")
            img(src="images/images/logo-footer.png", alt="лого") 
          a(href="#", class="footer-tickets-link")
            img(src="images/images/ticket-r.svg", alt="билет")
            p Вернуть            
            p билет
          .footer-tickets-svg
            img(src="images/images/footer-svg.svg", alt="узор") 

script(src="scripts/jquery-3.3.1.min.js")
script(src="scripts/slick.min.js")
script(src="scripts/main.js")
script(src="https://api-maps.yandex.ru/2.1/?apikey=<2090755b-f1a0-458a-b63b-a00abf7a7de5>&lang=ru_RU")