header.header
  .container
    .row
      img(src="images/images/logo.png", class="logo header-logo", alt="лого")
      .header__main-scene
        .header__main-scene-title Основная<br><span>сцена</span>

