include mixins.pug
header.header
  .header__info
    .container
      .row.align-items-center.m-0
        a(href="/", class="logo header-logo")
          img(src="images/images/logo.png", alt="лого")
        .header__scene.d-flex
          .header__scene-title <span>основная</span><br><span>сцена</span>
          .header__scene-info
            a(href="tel:+74956298661") + 7 (495) 629-86-61<br>
            span Б. Гнездниковский пер., 1
        .header__scene.d-flex
          .header__scene-title <span>новая</span><br><span>сцена</span>
          .header__scene-info
            a(href="tel:+74991347618") + 7 (499) 143-76-18<br>
            span Ул. Академика Пилюгина, 2
        a(class="header__study" href="#") <span>институт</span><br><span>гитис</span>
  .header-menu
    .container      
      .row.align-items-center.m-0
        +headerMenuLink('#', 'афиша')(class="header-menu__link")
        +headerMenuLink('#', 'репертуар')(class="header-menu__link")
        +headerMenuLink('#', 'площадки')(class="header-menu__link")
        +headerMenuLink('#', 'новости')(class="header-menu__link")
        +headerMenuLink('#', 'партнеры')(class="header-menu__link")
        +headerMenuLink('#', 'проекты')(class="header-menu__link")
        +headerMenuLink('#', 'контакты')(class="header-menu__link")
      
