include banner.pug

header.header
  .header-info
    .container
      .header-info-content
        .logo
          a(href="/")
            img(src="images/images/logo.png", alt="лого")
        .header-scene
          .header-scene-title 
            .header-scene-title-red основная
            .header-scene-title-black сцена
          .header-scene-info
            .header-scene-info-phone
              a(href="tel:+74956298661") + 7 (495) 629-86-61
            .header-scene-info-adress Б. Гнездниковский пер., 10
        .header-scene.header-scene-second
          .header-scene-title 
            .header-scene-title-red новая
            .header-scene-title-black сцена
          .header-scene-info
            .header-scene-info-phone
              a(href="tel:+74991347618") + 7 (499) 143-76-18
            .header-scene-info-adress Ул. Академика Пилюгина, 2       
        .header-study
          a(href="#")
            .header-study-text институт
            .header-study-text гитис            
  .header-menu
    .container      
      ul.header-menu-list
        li.header-menu-link
          a(href="#") афиша
        li.header-menu-link
          a(href="#") репертуар
        li.header-menu-link
          a(href="#") площадки
        li.header-menu-link
          a(href="#") новости
        li.header-menu-link
          a(href="#") партнёры
        li.header-menu-link
          a(href="#") проекты
        li.header-menu-link
          a(href="#") контакты
  ul.header-aside
    li
      a(href="#", class="header-aside-item header-aside-item-ticket")
        span купить билет
        img(src="images/images/ticket.svg", alt="билет")
    li    
      a(href="#", class="header-aside-item header-aside-item-blind")
        img(src="images/images/blind.png", alt="очки")
    li 
      .header-aside-social   
        a(href="#", class="header-aside-item header-aside-social-link")
          img(src="images/images/vk.svg", alt="вконтакте")
        a(href="#", class="header-aside-item header-aside-social-link")
          img(src="images/images/fb.svg", alt="facebook")
        a(href="#", class="header-aside-item header-aside-social-link")
          img(src="images/images/inst.svg", alt="инстаграм")
        a(href="#", class="header-aside-item header-aside-social-link")
          img(src="images/images/youtube.svg", alt="youtube")
  .header-mobile
    .header-mobile-humb
      span
    .header-mobile-ticket  
      .header-mobile-ticket-img
        img(src="images/images/ticket-w.svg", alt="alt")
      .header-mobile-ticket-text
        p купить билет          
      .header-mobile-ticket-text-sm
        p купить
        p билет          
        
          
     

