*
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent
a 
  text-decoration: none
  outline: none
a:hover 
  text-decoration: none
  outline: none
body 
  font-family: 'Museo Sans 500 Medium', sans-serif
img 
  display: block
ul, li, p, h1, h2, h3, button
  margin: 0
  padding: 0 
ul, li 
  list-style: none  
form, input, button
  border: none
  outline: none
button
  cursor: pointer

.banner
  width: 100%
  img 
    width: 100%  

.logo
  width: 301px
  height: 29px

.page
  &-header  
    position: relative
    height: 250px
    background: url(../images/hd/page-cover.jpg) no-repeat
    background-size: cover
    background-position: center top        
    &-grad
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 1.39%, rgba(0, 0, 0, 0) 115.41%)
      padding-top: 81px
    &-icon
      position: absolute
      bottom: -44px
      right: 150px
  &-header.stages-header
    height: 450px    
  &-title
    +norm
    font-size: 60px
    line-height: 65px
    color: $white
    transform: translate(-5px, -11px)
  &-subtitle 
    +norm 
    font-size: 40px
    line-height: 50px
    color: $white
    max-width: 800px   
  &-content
    .breadcrumbs
      margin: 21px 0 46px
      &-link  
        color: $black 
    h1
      +bold
      font-size: 60px
      line-height: 65px
      font-weight: 500
      color: $black
      transform: translateX(-5px)
      margin-bottom: 40px
    &-info
      &-date
        +lack
        font-size: 60px
        line-height: 35px
        color: $black
        margin-bottom: 15px
      &-time 
        +lack
        font-size: 18px
        line-height: 20px
        color: $black
        margin-bottom: 35px       
      &-social
        display: flex
        align-items: center
        &-text 
          +norm
          font-size: 13px
          line-height: 30px
          font-weight: 300
          color: $black
          margin-bottom: 7px
        // .ya-share2__badge
        //   background: transparent    
        // a 
        //   display: flex
        //   align-items: center
        //   justify-content: center             
    &-desc
      margin-bottom: 40px
      &-title
        +norm
        font-size: 30px
        line-height: 40px
        color: $black
        margin-bottom: 16px
      p 
        +norm
        font-size: 18px
        line-height: 32px
        color: $black
      &-bold
        font-size: 18px
        +bold
        margin-bottom: 16px
      a 
        color: $red
    &-quote
      display: flex
      border-top: 1px solid $black      
      border-bottom: 1px solid $black
      padding: 40px 0 
      margin-bottom: 30px
      &-img
        margin-right: 81px
      &-text
        padding-top: 5px 
        +norm
        font-size: 30px
        line-height: 40px
        color: $black
    &-director
      display: flex
      justify-content: flex-end
      text-align: right
      margin-bottom: 47px
      &-info
        max-width: 580px
      &-name
        +norm
        font-size: 20px
        line-height: 30px
        color: $black
        margin-bottom: 15px
      &-about
        +norm
        font-size: 13px
        line-height: 24px
        font-weight: 300
        color: $black 
      &-foto
        width: 100px
        height: 100px
        margin-left: 30px
        img 
          width: 100%      
    &-about
      +norm
      font-size: 18px
      line-height: 32px
      color: $black 
      margin-bottom: 82px
    &-media
      margin-bottom: 86px
      h3
        +norm
        font-size: 50px
        line-height: 60px
        font-weight: 500
        margin-bottom: 32px
      &-desc
        position: relative
        +norm
        font-size: 14px
        line-height: 24px
        font-weight: 300
        padding-left: 30px
        &::before
          position: absolute
          content: ''
          top: 5px
          left: 0
          width: 1px
          height: 50px
          background: $black
      &-movie
        position: relative
        margin-bottom: 48px
        &-clip
          img 
            width: 100%
        &-pause, &-full
          position: absolute
          bottom: 0
          width: 150px
          height: 150px
          background: $red
          display: flex
          align-items: center
          justify-content: center
          cursor: pointer
        &-pause
          right: 150px
        &-full 
          right: 0
      &-foto
        margin-bottom: 80px    
      &-text
        +norm
        font-size: 18px
        line-height: 32px
        color: $black        
    &-gallery
      margin-bottom: 118px
      h3
        +norm
        font-size: 50px
        line-height: 60px
        font-weight: 500
        margin-bottom: 38px
        color: $black
      .col-6
        &:nth-of-type(even)
          transform: translateY(50px)  
      &-item
        position: relative
        margin-bottom: 30px
        img 
          width: 100%
        &::after
          position: absolute
          content: ''
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: $grad  
    &-idea 
      h3 
        +bold
        font-size: 50px
        line-height: 60px
        font-weight: 500
        margin-bottom: 38px
        color: $black        
    &-extra
      margin-bottom: 30px
      h4
        +norm
        font-size: 40px
        line-height: 50px
        color: $black
        margin-bottom: 34px
      &-text
        +norm
        font-size: 18px
        line-height: 32px
        color: $black 
        p
          position: relative
          padding-left: 30px
          &::before
            position: absolute
            top: 12px
            left: 0
            content: ''
            width: 6px
            height: 6px
            border-radius: 50%
            background: $red
        p
          span 
            +bold      
    &-social
      display: flex
      justify-content: space-between
      border-top: 1px solid $black
      padding: 40px 0
      margin-top: 100px
      &.top
        margin-top: 0
        border-top: none
        border-bottom: 1px solid $black
        padding: 30px 0
  &-ellipse
    display: flex
    align-items: center
    justify-content: center
    padding: 36px 0 60px

.breadcrumbs
  display: flex
  li 
    list-style: none
  &-link
    position: relative
    +norm
    font-size: 12px
    line-height: 20px
    font-weight: 300
    color: $white
    text-decoration: underline
    margin-right: 21px
    &::after
      position: absolute
      content: '/'
      top: -3px
      right: -13px
    &-disable
      text-decoration: none
      pointer-events: none
      cursor: default 
      &::after
        display: none 
.project-slider-top, .news-img-slider-top, .stage-slider-top, .show-slider-top
  .slick-slider
    &-slide
      position: relative
      img 
        width: 100%
      &::after
        position: absolute
        content: ''
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $grad  
  .slick-arrow
    position: absolute
    font-size: 0
    line-height: 0
    width: 150px
    height: 150px
    background: $red 
    border: none
    outline: none
    z-index: 20
    &:focus
      outline: none 
  .slick-next  
    bottom: 0
    right: 0
    &::before
      position: absolute
      content: url(../images/images/next-small.svg) 
      top: 62px
      right: 43px   
  .slick-prev
    bottom: 0
    right: 150px
    &::before
      position: absolute
      content: url(../images/images/prev-small.svg) 
      top: 62px
      left: 43px 

.page-slider-bottom
  padding: 100px 0 150px
  background: #181818  
  &-title
    +norm
    font-size: 60px
    line-height: 65px
    font-weight: 500
    color: $white
    margin-bottom: 60px

.project-slider-bottom, .news-img-slider-bottom
  .projects-list-item-date
    p 
      color: $white
  .projects-list-item-title
    color: $white
    &::after
      background: $white        
  .slick-arrow
    position: absolute
    font-size: 0
    line-height: 0
    width: 100%
    max-width: 533px
    height: 25px 
    background: #181818
    border: none
    outline: none
    z-index: 20
    &:focus
      outline: none 
  .slick-next  
    bottom: -50px
    right: 0
    &::before
      position: absolute
      content: url(../images/images/next.svg) 
      top: 0
      right: 0   
  .slick-prev
    bottom: -50px
    left: 0
    &::before
      position: absolute
      content: url(../images/images/prev.svg) 
      top: 0
      left: 0

.slider-wrapper
  position: relative
.slider-count
  display: flex
  position: absolute
  bottom: -50px
  left: 50%
  transform: translateX(-50%)
  z-index: 20
  +lack 
  &-cur
    font-size: 40px
    line-height: 35px
    color: $white
  &-sep, &-total
    font-size: 14px
    color: $red 
.slider-wrapper-mt, .slider-wrapper-mm
  .slider-count
    bottom: -66px
    &-cur
      color: $black    

.views 
  display: flex
  align-items: center
  img
    width: 24px
    height: 15px
    margin-right: 11px
  span 
    +norm
    font-size: 13px
    font-weight: 300
    line-height: 30px
    color: $black               

.calendar
  padding-top: 54px
.months, .days, .letters
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 26px
  &-current
    +lack
    font-size: 60px
    line-height: 35px
    color: $black
    text-transform: uppercase
    margin: 0 80px
    span 
      color: $red
.days, .letters
  border-bottom: 5px solid $black
  margin-bottom: 15px
  padding-bottom: 12px
.day
  +lack 
  font-size: 16px
  line-height: 35px
  color: $black
  text-transform: uppercase
  margin: 0 10.5px
  &.weekend
    color: $red
.letter
  +bold 
  font-size: 16px
  line-height: 35px
  color: $black
  text-transform: uppercase
  margin: 0 14px
  font-weight: 500
  &.empty
    color: $grey2
.filter
  &-wrap
    padding-bottom: 49px    
    border-bottom: 1px solid $black
  &-abc
    display: flex
    align-items: center
    &-date
      +lack
      font-size: 30px
      line-height: 35px
      text-transform: uppercase
      margin-right: 44px
    &-abc
      +norm
      font-size: 27px
      line-height: 35px
      font-weight: 500
      text-transform: uppercase
    &-item
      color: $black
      &.active
        position: relative
        color: $red
        &::after
          position: absolute
          bottom: 0
          left: 0
          content: ''
          width: 100%
          border-bottom: 1px solid $red
  &-scene
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 20px
    &-item
      +norm
      font-size: 27px
      line-height: 35px
      font-weight: 500
      text-transform: uppercase
      color: $black
      &.active
        position: relative
        color: $red
        &::after
          position: absolute
          bottom: 0
          left: 0
          content: ''
          width: 100%
          border-bottom: 1px solid $red
  &-img
    display: flex
    align-items: center
    justify-content: flex-end
    &-no 
      margin-left: 30px