*
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent
a 
  text-decoration: none
  outline: none
a:hover 
  text-decoration: none
  outline: none
body 
  font-family: 'Museo Sans 500 Medium', sans-serif
img 
  display: block
ul, li, p, h1, h2, h3, button
  margin: 0
  padding: 0 
ul, li 
  list-style: none  
form, input, button
  border: none
  outline: none
button
  cursor: pointer

.banner
  width: 100%
  img 
    width: 100%  

.logo
  width: 301px
  height: 29px
  img 
    width: 100%

.page
  &-header  
    position: relative
    height: 250px
    background: url(../images/hd/page-cover.jpg) no-repeat
    background-size: cover
    background-position: center top
    &-content
      width: 100%
      height: 100%
      position: relative
      padding-bottom: 56px        
    &-grad
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 1.39%, rgba(0, 0, 0, 0) 115.41%)
      padding-top: 81px
    &-icon
      position: absolute
      bottom: -44px
      right: 50px
  &-header.stages-header
    height: 450px    
  &-title
    +norm
    font-size: 60px
    line-height: 65px
    color: $white
    transform: translate(-5px, -11px)
  &-subtitle 
    +norm 
    font-size: 40px
    line-height: 50px
    color: $white
    max-width: 800px   
  &-content
    &-info
      &-date
        +lack
        font-size: 60px
        line-height: 65px
        color: $black
      &-time 
        +lack
        font-size: 18px
        line-height: 20px
        color: $black
        margin-bottom: 20px
      &-tag
        +norm
        font-weight: 300
        font-size: 13px
        line-height: 30px
        color: $red
        margin-bottom: 20px
        cursor: pointer  
      &-img
        width: 180px
        margin-bottom: 50px
        img 
          width: 100%
      &-web
        padding-left: 50px
        margin-bottom: 33px        
        a 
          position: relative
          +norm 
          font-weight: 500
          font-size: 30px
          line-height: 40px
          color: $red
          &::before
            position: absolute
            content: url(../images/images/link-to.svg)
            top: 0
            left: -50px
      &-phone
        padding-left: 50px
        margin-bottom: 10px        
        a 
          position: relative
          +norm
          font-size: 20px
          line-height: 28px
          color: $black
          &::before
            position: absolute
            content: url(../images/images/phone.svg)
            top: 0
            left: -50px
      &-adress
        position: relative
        padding-left: 50px
        +norm
        font-size: 20px
        line-height: 28px
        color: $black
        margin-bottom: 10px
        &::before
          position: absolute
          content: url(../images/images/point-b.svg)
          top: 0
          left: 0
      &-email
        padding-left: 50px
        margin-bottom: 36px        
        a 
          position: relative
          +norm
          font-size: 20px
          line-height: 28px
          color: $red
          &::before
            position: absolute
            content: url(../images/images/mail.svg)
            top: 0
            left: -50px
      &-social
        +norm 
        font-size: 16px
        line-height: 30px
        &-links
          display: flex
          align-items: center
          transform: translateX(-20px)
          a 
            padding: 20px
            margin-right: 4px                     
    &-bill
      border-top: 5px solid $black
      border-bottom: 5px solid $black
      padding: 50px 0 44px
      margin-bottom: 44px
      &-item
        &-date
          &-day 
            +lack 
            font-size: 50px
            line-height: 35px
            color: $black
            margin-bottom: 12px
          &-year 
            +lack 
            font-size: 18px
            line-height: 20px
            color: $black
            margin-bottom: 14px
          &-text
            +norm
            font-size: 20px
            line-height: 26px
            color: $black
            margin-bottom: 22px
        &-button 
          width: 350px
          height: 55px
          border: 1px solid $red
          a 
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            height: 100%
            +norm 
            font-weight: 500
            font-size: 20px
            line-height: 26px
          &-red
            background: $red
            a 
              color: $white          
          &-white
            background: $white
            a 
              color: $red          
      &-info
        +norm
        font-weight: 300
        font-size: 14px
        line-height: 22px
        color: #7b7b7b
        margin-top: 25px
    .breadcrumbs
      margin: 21px 0 46px
      &-link  
        color: $black 
    h1
      max-width: 946px
      +bold
      font-size: 60px
      line-height: 65px
      font-weight: 500
      color: $black
      transform: translateX(-5px)
      margin-bottom: 40px
    &-info
      // &-date
      //   +lack
      //   font-size: 60px
      //   line-height: 35px
      //   color: $black
      //   margin-bottom: 15px
      // &-time 
      //   +lack
      //   font-size: 18px
      //   line-height: 20px
      //   color: $black
      //   margin-bottom: 35px       
      // &-social
      //   display: flex
      //   align-items: center
      //   &-text 
      //     +norm
      //     font-size: 13px
      //     line-height: 30px
      //     font-weight: 300
      //     color: $black
      //     margin-bottom: 7px
        // .ya-share2__badge
        //   background: transparent    
        // a 
        //   display: flex
        //   align-items: center
        //   justify-content: center             
    &-desc
      margin-bottom: 40px
      &-title
        +norm
        font-size: 30px
        line-height: 40px
        color: $black
        margin-bottom: 16px
      p 
        +norm
        font-size: 18px
        line-height: 32px
        color: $black
      &-bold
        font-size: 18px
        +bold
        margin-bottom: 16px
      a 
        color: $red
    &-quote
      display: flex
      border-top: 1px solid $black      
      border-bottom: 1px solid $black
      padding: 40px 0 
      margin-bottom: 30px
      &-img
        margin-right: 81px
        max-width: 100px 
        min-width: 100px 
        img 
          width: 100%
      &-text
        padding-top: 5px 
        +norm
        font-size: 30px
        line-height: 40px
        color: $black
    &-director
      display: flex
      justify-content: flex-end
      text-align: right
      margin-bottom: 47px
      &-info
        max-width: 580px
      &-name
        +norm
        font-size: 20px
        line-height: 30px
        color: $black
        margin-bottom: 15px
      &-about
        +norm
        font-size: 13px
        line-height: 24px
        font-weight: 300
        color: $black 
      &-foto
        min-width: 100px
        max-width: 100px
        height: 100px
        margin-left: 30px
        img 
          width: 100%      
    &-about
      +norm
      font-size: 18px
      line-height: 32px
      color: $black 
      margin-bottom: 82px
    &-media
      h3
        +norm
        font-size: 50px
        line-height: 60px
        font-weight: 500
        margin-bottom: 32px
      &-desc
        position: relative
        +norm
        font-size: 14px
        line-height: 24px
        font-weight: 300
        padding-left: 30px
        &::before
          position: absolute
          content: ''
          top: 5px
          left: 0
          width: 1px
          height: 50px
          background: $black
      &-movie
        position: relative
        margin-bottom: 48px
        &-clip
          img 
            width: 100%
        &-pause, &-full
          position: absolute
          bottom: 0
          width: 150px
          height: 150px
          background: $red
          display: flex
          align-items: center
          justify-content: center
          cursor: pointer
        &-pause
          right: 150px
        &-full 
          right: 0
      &-foto
        margin-bottom: 80px    
      &-text
        +norm
        font-size: 18px
        line-height: 32px
        color: $black        
    &-gallery
      padding-top: 100px
      margin-bottom: 118px
      h3
        +norm
        font-size: 50px
        line-height: 60px
        font-weight: 500
        margin-bottom: 38px
        color: $black
      .col-sm-6
        &:nth-of-type(even)
          transform: translateY(50px)  
      &-item
        position: relative
        margin-bottom: 30px
        img 
          width: 100%
        &::after
          position: absolute
          content: ''
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: $grad  
    &-idea 
      h3 
        +bold
        font-size: 50px
        line-height: 60px
        font-weight: 500
        margin-bottom: 38px
        color: $black        
    &-extra
      margin: 50px 0 30px
      h4
        +norm
        font-size: 40px
        line-height: 50px
        color: $black
        margin-bottom: 34px
      &-text
        +norm
        font-size: 18px
        line-height: 32px
        color: $black 
        p
          position: relative
          padding-left: 30px
          &::before
            position: absolute
            top: 12px
            left: 0
            content: ''
            width: 6px
            height: 6px
            border-radius: 50%
            background: $red    
        p
          span 
            +bold
      &-text.extra-actors
        p 
          padding-left: 0
          &::before
            display: none      
    &-social
      display: flex
      justify-content: space-between
      border-top: 1px solid $black
      padding: 40px 0
      &.top
        border-top: none
        // border-bottom: 1px solid $black
        padding: 30px 0
  &-ellipse
    display: flex
    align-items: center
    justify-content: center
    padding: 36px 0 60px

.breadcrumbs
  display: flex
  li 
    list-style: none
  &-link
    position: relative
    +norm
    font-size: 12px
    line-height: 20px
    font-weight: 300
    color: $white
    text-decoration: underline
    margin-right: 21px
    &::after
      position: absolute
      content: '/'
      top: -3px
      right: -13px
    &-disable
      text-decoration: none
      pointer-events: none
      cursor: default 
      &::after
        display: none 
.project-slider-top, .news-img-slider-top, .stage-slider-top, .show-slider-top
  .slick-slider
    &-slide
      position: relative
      img 
        width: 100%
      &::after
        position: absolute
        content: ''
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $grad  
  .slick-arrow
    position: absolute
    font-size: 0
    line-height: 0
    width: 150px
    height: 150px
    background: $red 
    border: none
    outline: none
    z-index: 20
    &:focus
      outline: none 
  .slick-next  
    bottom: 0
    right: 0
    &::before
      position: absolute
      content: url(../images/images/next-small.svg)      
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)  
  .slick-prev
    bottom: 0
    right: 150px
    &::before
      position: absolute
      content: url(../images/images/prev-small.svg) 
      top: 50%
      left: 50%
      transform: translate(-50%, -50%) 

.page-slider-bottom
  background: #181818 
  padding: 100px 0 150px  
  &-title
    +norm
    font-size: 60px
    line-height: 65px
    font-weight: 500
    color: $white
    margin-bottom: 60px
.project-slider-bottom, .news-img-slider-bottom
  .projects-list-item-date
    p 
      color: $white
  .projects-list-item-title
    color: $white
    &::after
      background: $white 
  .slick-arrow
    position: absolute
    font-size: 0
    line-height: 0
    width: 100px
    height: 100px
    background: $red 
    border: none
    outline: none
    z-index: 20
    &:focus
      outline: none 
  .slick-next  
    top: -225px
    right: 15px
    &::before
      position: absolute
      content: url(../images/images/next-small.svg)      
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)  
  .slick-prev
    top: -225px
    right: 115px
    &::before
      position: absolute
      content: url(../images/images/prev-small.svg) 
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
.slider-wrapper
  position: relative
.slider-count
  display: flex
  position: absolute
  bottom: -50px
  left: 50%
  transform: translateX(-50%)
  z-index: 20
  +lack 
  &-cur
    font-size: 40px
    line-height: 35px
    color: $white
  &-sep, &-total
    font-size: 14px
    color: $red 
.slider-wrapper-mt, .slider-wrapper-mm
  .slider-count
    bottom: -66px
    &-cur
      color: $black    

.views 
  display: flex
  align-items: center
  img
    width: 24px
    height: 15px
    margin-right: 11px
  span 
    +norm
    font-size: 13px
    font-weight: 300
    line-height: 30px
    color: $black               

.calendar
  padding-top: 54px
.months, .days, .letters
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 26px
  &-current
    +lack
    font-size: 60px
    line-height: 35px
    color: $black
    text-transform: uppercase
    margin: 0 80px
    span 
      color: $red
.months-prev, .months-next
  width: 103px
  cursor: pointer
  img 
    width: 100%      
.days, .letters
  border-bottom: 5px solid $black
  margin-bottom: 15px
  padding-bottom: 12px
.day
  +lack 
  font-size: 16px
  line-height: 35px
  color: $black
  text-transform: uppercase
  margin: 0 10.5px
  &.weekend
    color: $red
.letter
  +bold 
  font-size: 16px
  line-height: 35px
  color: $black
  text-transform: uppercase
  margin: 0 14px
  font-weight: 500
  &.empty
    color: $grey2
.filter
  &-wrap
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 49px    
    border-bottom: 1px solid $black
  &-abc
    display: flex
    align-items: center
    &-date
      +lack
      font-size: 30px
      margin-right: 44px
    &-abc
      +norm
      font-size: 27px
    &-item
      color: $white
      -webkit-text-stroke: 1px $black
      line-height: 35px
      font-weight: 500
      text-transform: uppercase
      cursor: pointer
      &.active
        position: relative
        color: $red
        -webkit-text-stroke: 1px $red
        &::after
          position: absolute
          bottom: 0
          left: 0
          content: ''
          width: 100%
          border-bottom: 1px solid $red
  &-scene
    +bold
    font-size: 27px
    line-height: 35px
    font-weight: 500
    text-transform: uppercase
    color: $red
    position: relative
    cursor: pointer
    &::before
      display: none
      position: absolute
      top: -10px
      left: 0
      content: url(../images/images/mark.svg)        
    &::after
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: -30px
      content: url(../images/images/drop.svg)
      transition: .3s
    &.active
      &::after
        transform: translateY(-50%) rotate(180deg)
    &-menu
      position: absolute
      left: 50%
      transform: translateX(-50%)
      opacity: 0
      visibility: hidden
      top: calc(100% + 10px)
      width: 400px
      background: $white
      border-top: 5px solid $red
      box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25)
      z-index: 2
      padding: 30px
      transition: .3s
      &-link 
        +norm
        font-size: 20px
        line-height: 40px
        color: $black
        text-transform: none
        transition: .3s
      &.active
        opacity: 1
        visibility: visible
  &-img
    display: flex
    align-items: center
    justify-content: flex-end
    &-no 
      margin-left: 30px
    &-item
      cursor: pointer
      width: 30px  
      svg
        width: 100%
        path  
          stroke: $black
          stroke-width: 1
    &-item.active
      svg
        path  
          stroke: $red 
          stroke-width: 2   

@media screen and ( max-width: 1439px )
  .page
    &-content
      &-bill
        &-item
          &-date
            &-text
              height: 52px
          &-button
            width: 100%
      &-media
        &-movie
          &-pause
            width: 100px
            height: 100px
            right: 100px      
          &-full
            width: 100px
            height: 100px     

  .project-slider-top, .news-img-slider-top, .stage-slider-top, .show-slider-top
    .slick-arrow
      width: 100px
      height: 100px
    .slick-prev
      right: 100px
      &::before
  .letter
    margin: 0 10px
  .day
    margin: 0 7.5px        

@media screen and ( max-width: 1199px )
  .logo
    width: 230px
    height: 22px
  .page
    &-title
      font-size: 50px

@media screen and ( max-width: 1023px )
  .page-slider-top
    .container
      padding: 0
@media screen and ( max-width: 991px )
  .page
    &-content
      h1 
        font-size: 50px
        line-height: 55px
      &-media
        &-desc
          min-height: 50px
          margin-bottom: 30px
      &-info-social-links, &-info-social-list
        margin-bottom: 40px    
    &-slider-bottom
      &-title
        font-size: 50px
        line-height: 55px
      .slick-prev, .slick-next
        top: -215px
  .letters, .days
    width: 100%
    overflow: scroll
    justify-content: flex-start
  .months
    &-current
      font-size: 50px
      margin: 0 66px                        

@media screen and ( max-width: 767px )
  .page    
    &-header
      height: 150px
      &::after
        position: absolute
        top: 0
        left: 0
        content: ''
        width: 100%
        height: 100%
        background: $grad
      &-icon
        display: none
      &-content
        z-index: 1
        padding-bottom: 0
      &-grad
        padding-top: 56px
      .breadcrumbs
        display: none                 
    &-title
      font-size: 40px
      line-height: 50px
    &-ellipse
      padding: 34px 0 50px
    &-content
      padding-top: 30px
      .breadcrumbs
        display: none
      &-bill
        &-item
          margin-bottom: 30px
          &:last-of-type
            margin-bottom: 0
          &-button 
            max-width: 320px
      &-media
        &-movie
          &-pause, &-full
            width: 50px
            height: 50px
            img 
              width: 20px
              height: 20px 
          &-pause
            right: 50px
      &-quote
        &-img
          margin-right: 40px                

  .project-slider-bottom, .news-img-slider-bottom
    .slick-dots
      position: absolute
      bottom: -70px
      width: 100%
      display: flex
      justify-content: center
      margin-bottom: 0
      li
        margin: 0 10px
        button 
          font-size: 0
          width: 10px
          height: 10px
          background: transparent
          border-radius: 50%
          border: 2px solid $white
          outline: none
      li.slick-active
        button
          width: 12px
          height: 12px
          background: $red
          border: none    
  .page-slider-top
    .slick-next
      width: 50px
      height: 50px
      &::before
        content: url(../images/images/next-mob.svg)
    .slick-prev
      width: 50px
      height: 50px
      right: 50px
      &::before
        content: url(../images/images/prev-mob.svg)

  .months
    &-current
      font-size: 42px
      margin: 0 auto
    &-prev, &-next
      width: 80px
  .filter
    &-img-no
      margin-left: 20px
    &-abc-date
      margin-right: 20px
    &-scene
      &::after
        right: -20px           
         
@media screen and ( max-width: 575px )
  .logo
    width: 137px
    height: 13px
  .page
    &-content
      h1 
        font-size: 36px
        line-height: 45px
        margin-bottom: 30px
      &-info
        &-date
          font-size: 40px
          line-height: 35px
          margin-bottom: 5px
        &-time
          font-size: 16px
          line-height: 20px
          margin-bottom: 10px
        &-tag 
          margin-bottom: 10px    
        &-img
          width: 134px
          margin-bottom: 30px
        &-web a
          font-size: 24px
          line-height: 30px
          margin-bottom: 30px
        &-phone a, &-adress, &-email a
          font-size: 16px
          line-height: 26px 
        &-email
          margin-bottom: 22px
        &-social
          font-size: 16px
          line-height: 30px           
      &-bill
        padding: 25px 0
        &-item
          margin-bottom: 26px
          &-date
            &-day
              font-size: 40px
              margin-bottom: 5px
            &-text
              font-size: 16px
              height: auto
          &-button a 
            font-size: 18px
            line-height: 26px
          &-info
            font-size: 12px
            line-height: 20px
      &-desc
        &-title
          font-size: 20px
          line-height: 30px
          margin-bottom: 15px
        &-bold, p 
          font-size: 13px
          line-height: 22px
      &-quote
        padding: 22px 0
        &-img
          min-width: 35px
          max-width: 35px
          margin-right: 14px
        &-text
          padding-top: 0
          font-size: 20px
          line-height: 30px  
      &-director
        margin-bottom: 30px
        &-name
          font-size: 16px
          line-height: 26px
        &-about
          font-size: 12px
          line-height: 18px
        &-foto
          max-width: 50px
          min-width: 50px
          margin-left: 20px
      &-about
        font-size: 13px
        line-height: 22px
        margin-bottom: 22px
      &-media
        h3 
          font-size: 30px
          line-height: 40px
          margin-bottom: 22px
        &-movie
          margin-bottom: 22px
        &-text
          font-size: 13px
          line-height: 22px
      &-gallery
        padding-top: 22px
        margin-bottom: 12px
        h3 
          font-size: 30px
          line-height: 40px
          margin-bottom: 22px
        &-item
          margin-bottom: 10px
        .col-sm-6
          &:nth-of-type(even)
            transform: translateY(0)
      &-idea
        h3
          font-size: 30px
          line-height: 40px
          margin-bottom: 22px
      &-extra
        margin: 22px 0 6px
        h4 
          font-size: 24px
          line-height: 30px
          margin-bottom: 22px
        &-text 
          p 
            font-size: 13px
            line-height: 22px
      &-social
        padding: 22px 0 0
        display: block
        .page-content-info-social-text
          font-size: 13px
          line-height: 30px
      &-news
        padding: 0
        .show-news-title
          font-size: 30px
          line-height: 40px
          margin-bottom: 22px
        &.show-news
          padding-bottom: 50px
    &-slider-bottom
      padding: 50px 0 70px
      &-title
        font-size: 30px
        line-height: 40px
        margin-bottom: 60px 
      .slick-dots
        bottom: -20px       

  .views
    span 
      font-size: 12px
      line-height: 30px

  .calendar
    padding-top: 20px
  .months
    margin-bottom: 10px
    &-prev, &-next 
      width: 40px
    &-current
      font-size: 20px
      line-height: 30px
  .filter
    &-wrap
      padding-bottom: 20px
    &-abc
      &-date
        font-size: 21px
        margin-right: 30px
      &-abc 
        font-size: 20px
      &-item
        line-height: 30px
    &-img
      &-item
        width: 21px
    &-scene
      span 
        display: none
      &::after
        display: none
      &::before
        display: block
      &-menu
        width: 300px
        top: calc(100% + 20px)
        transform: translateX(-60%)
        padding: 20px
        &-link
          font-size: 14px                    
                     



