html(lang='ru')

include includes/head.pug

body

  include includes/header.pug

  main 
    .page-header(style="background: url(images/hd/page-cover.jpg)")
      .page-header-grad
        .container
          .page-header-content
            ul.breadcrumbs
              li
                a(href="/", class="breadcrumbs-link") Главная 
              li
                a(href="/gitis", class="breadcrumbs-link breadcrumbs-link-disable") Контакты
            h1.page-title Контакты
            .page-header-icon
              img(src="images/images/rounds.svg", alt="круги")

    .contacts
      .container        
        .contacts-item
          .contacts-title Основная сцена 
          .row
            .col-lg-4.col-md-8.col-12              
              .contacts-adress Москва, Б. Гнездниковский пер., д. 10
              .contacts-time
                p Время работы кассы 1: 18:00-21:00
                p Время работы кассы 2: 18:00-21:00
            .col-lg-4.col-md-8.col-12
              .contacts-phone
                .contacts-phone-block
                  a(href="tel:+74956297087") +7 (495) 629-70-87    
                .contacts-phone-block
                  a(href="tel:+74956297087") +7 (495) 629-70-87    
              .contacts-email
                .contacts-email-block
                  a(href="mailto:teatr@gitis.ne") teatr@gitis.ne
                .contacts-email-block
                  a(href="mailto:gitistheatre@gmail.com") gitistheatre@gmail.com
            .contacts-foto
              .contacts-img(style="background: url(images/hd/gitis-main-scene.jpg) no-repeat center top/cover")      
          #map-1.contacts-map(style="background: url(images/hd/map.jpg) no-repeat center center/cover", data-geo="55.76343811803522,37.60576528406144")
          
        .contacts-item
          .contacts-title Новая сцена 
          .row
            .col-lg-4.col-md-8.col-12              
              .contacts-adress Москва, ул. Академика Пилюгина, 2
              .contacts-time
                p Время работы кассы 1: 18:00-21:00
            .col-lg-4.col-md-8.col-12
              .contacts-phone
                .contacts-phone-block
                  a(href="tel:+74956297087") +7 (495) 629-70-87   
              .contacts-email
                .contacts-email-block
                  a(href="mailto:gitistheatre@gmail.com") gitistheatre@gmail.com
            .contacts-foto
              .contacts-img(style="background: url(images/hd/gitis-new-scene.jpg) no-repeat center top/cover")      
          #map-2.contacts-map(style="background: url(images/hd/map.jpg) no-repeat center center/cover", data-geo="55.67402156903472,37.542329499999994")
          
        .contacts-item
          .contacts-title Главный учебный корпус 
          .row
            .col-lg-4.col-md-8.col-12              
              .contacts-adress Москва, Малый Кисловский пер., 10
              .contacts-time
                p Время работы кассы 1: 18:00-21:00
            .col-lg-4.col-md-8.col-12
              .contacts-phone
                .contacts-phone-block    
                .contacts-phone-block
                  a(href="tel:+74956297087") +7 (495) 629-70-87    
              .contacts-email
                .contacts-email-block
                  a(href="mailto:gitistheatre@gmail.com") gitistheatre@gmail.com
            .contacts-foto
              .contacts-img(style="background: url(images/hd/gitis-new-scene2.jpg) no-repeat center top/cover")      
          #map-3.contacts-map(style="background: url(images/hd/map.jpg) no-repeat center center/cover", data-geo="55.75495948490595,37.603396288360585")
          
          

  include includes/footer.pug