html(lang='ru')

include includes/head.pug

body

  include includes/header.pug

  main 
    .page-header
      .page-header-grad
        .container
          .page-header-content
            ul.breadcrumbs
              li
                a(href="/", class="breadcrumbs-link") Главная 
              li
                a(href="/gitis", class="breadcrumbs-link breadcrumbs-link-disable") Проекты
            h1.page-title Проекты
            .page-header-icon
              img(src="images/images/rounds.svg", alt="круги")

    .contacts
      .container        
        .contacts-item
          .contacts-title Основная сцена 
          .row
            .col-4              
              .contacts-adress Москва, Б. Гнездниковский пер., д. 10
              .contacts-time
                p Время работы кассы 1: 18:00-21:00
                p Время работы кассы 1: 18:00-21:00
            .col-4
              .contacts-phone
                .contacts-phone-block
                  a(href="tel:+74956297087") +7 (495) 629-70-87    
                .contacts-phone-block
                  a(href="tel:+74956297087") +7 (495) 629-70-87    
              .contacts-email
                .contacts-email-block
                  a(href="mailto:teatr@gitis.ne") teatr@gitis.ne
                .contacts-email-block
                  a(href="mailto:gitistheatre@gmail.com") gitistheatre@gmail.com
          #map.contacts-map
            img(src="images/hd/map.jpg", alt="alt")
          .contacts-foto
            .contacts-img
              img(src="images/hd/gitis-main-scene.jpg", alt="Основная сцена")
        .contacts-item
          .contacts-title Новая сцена 
          .row
            .col-4              
              .contacts-adress Москва, ул. Академика Пилюгина, 2
              .contacts-time
                p Время работы кассы 1: 18:00-21:00
            .col-4
              .contacts-phone
                .contacts-phone-block
                  a(href="tel:+74956297087") +7 (495) 629-70-87   
              .contacts-email
                .contacts-email-block
                  a(href="mailto:gitistheatre@gmail.com") gitistheatre@gmail.com
          #map.contacts-map
            img(src="images/hd/map.jpg", alt="alt")
          .contacts-foto
            .contacts-img
              img(src="images/hd/gitis-new-scene.jpg", alt="Основная сцена")
        .contacts-item
          .contacts-title Учебный корпус 
          .row
            .col-4              
              .contacts-adress Москва, Малый Кисловский пер., 10
              .contacts-time
                p Время работы кассы 1: 18:00-21:00
            .col-4
              .contacts-phone
                .contacts-phone-block    
                .contacts-phone-block
                  a(href="tel:+74956297087") +7 (495) 629-70-87    
              .contacts-email
                .contacts-email-block
                  a(href="mailto:gitistheatre@gmail.com") gitistheatre@gmail.com
          #map.contacts-map
            img(src="images/hd/map.jpg", alt="alt")
          .contacts-foto
            .contacts-img
              img(src="images/hd/gitis-new-scene2.jpg", alt="Основная сцена")
          

  include includes/footer.pug