doctype html
html(lang='ru')

include includes/head.pug

body

  
  include includes/header.pug

  main
    .main-cover
    //- .main-slider
    //-   .container
    //-     .slider-wrapper.slider-wrapper-mt
    //-       .slick-slider.main-slider-top
    //-         .slick-slider-slide.main-slider-top-slide          
    //-           .row
    //-             .col-8
    //-               .main-slider-top-img
    //-                 img(src="files/main-slide-1.jpg", alt="alt")
    //-             .col-4    
    //-               .main-slider-top-info
    //-                 .main-slider-top-date 20/05  
    //-                 .main-slider-top-day 20:30 / пт
    //-                 .main-slider-top-name Над пропастью во ржи: сеанс психоанализа
    //-                 .main-slider-top-actors
    //-                   p Актерский факультет, режиссерский факультет.
    //-                   p Актерско-режиссерская мастерская А.С. Кончаловского
    //-                 .main-slider-top-age Возрастное ограничение <span>16+</span>
    //-                 .main-slider-top-ticket
    //-                   img(src="images/images/ticket-r.svg", alt="alt")
    //-         .slick-slider-slide.main-slider-top-slide          
    //-           .row
    //-             .col-8
    //-               .main-slider-top-img
    //-                 img(src="files/main-slide-1.jpg", alt="alt")
    //-             .col-4    
    //-               .main-slider-top-info
    //-                 .main-slider-top-date 20/05  
    //-                 .main-slider-top-day 20:30 / пт
    //-                 .main-slider-top-name Над пропастью во ржи: сеанс психоанализа
    //-                 .main-slider-top-actors
    //-                   p Актерский факультет, режиссерский факультет.
    //-                   p Актерско-режиссерская мастерская А.С. Кончаловского
    //-                 .main-slider-top-age Возрастное ограничение <span>16+</span>
    //-                 .main-slider-top-ticket
    //-                   img(src="images/images/ticket-r.svg", alt="alt")
    .main-section.main-bill
      .container
        .main-section-title
          .main-section-title-name Афиша
          .main-section-title-link
            a(href="#") Смотреть всю афишу
        .main-section-content.main-bill-content
          .row
            .col-md-6.col-12
              a(href="#", class="main-bill-item")                
                .main-bill-item-info
                  .main-bill-item-date 25/05
                  .main-bill-item-day пт, 20:30
                  .main-bill-item-scene Основная сцена
                  .main-bill-item-age 16+
                .main-bill-item-cover
                  .main-bill-item-img
                    img(src="images/hd/main-bill-1.jpg", alt="проект-1")
                  .main-bill-item-title Бешеные деньги     
                  .main-bill-item-actors Актерский факультет, Актерско-режиссерская мастерская А.С. Кончаловского
                  //- .main-bill-item-ticket
                  //-   a(href="#")
                    //- img(src="images/images/ticket-b.svg", class="main-bill-item-ticket-b" alt="alt")       
                    //- img(src="images/images/ticket.svg", class="main-bill-item-ticket-w" alt="alt")       
            .col-md-6.col-12
              a(href="#", class="main-bill-item")
                .main-bill-item-info
                  .main-bill-item-date 25/05
                  .main-bill-item-day пт, 20:30
                  .main-bill-item-scene Новая сцена
                  .main-bill-item-age 16+
                .main-bill-item-cover
                  .main-bill-item-img
                    img(src="images/hd/main-bill-2.jpg", alt="проект-2")
                  .main-bill-item-title Островский. Мечты     
                  .main-bill-item-actors Актерский факультет, Актерско-режиссерская мастерская А.С. Кончаловского     
            .col-md-6.col-12
              a(href="#", class="main-bill-item")
                .main-bill-item-info
                  .main-bill-item-date 25/05
                  .main-bill-item-day пт, 20:30
                  .main-bill-item-scene Основная сцена
                  .main-bill-item-age 16+
                .main-bill-item-cover
                  .main-bill-item-img
                    img(src="images/hd/main-bill-3.jpg", alt="проект-3")
                  .main-bill-item-title Над пропастью во ржи: сеанс психоанализа     
                  .main-bill-item-actors Актерский факультет, Актерско-режиссерская мастерская А.С. Кончаловского     
            .col-md-6.col-12
              a(href="#", class="main-bill-item")
                .main-bill-item-info
                  .main-bill-item-date 25/05
                  .main-bill-item-day пт, 20:30
                  .main-bill-item-scene Основная сцена
                  .main-bill-item-age 16+
                .main-bill-item-cover
                  .main-bill-item-img
                    img(src="images/hd/main-bill-4.jpg", alt="проект-4")
                  .main-bill-item-title Над пропастью во ржи: сеанс психоанализа     
                  .main-bill-item-actors Актерский факультет, Актерско-режиссерская мастерская А.С. Кончаловского
    .main-section.main-billboard      
      .main-billboard-img 
        img(src="images/hd/main-billboard.jpg", alt="alt")
      .container
        .main-billboard-title объявления <span>театра</span> 
      .main-billboard-wrap
        .main-billboard-content
          .main-billboard-list
            .main-billboard-row
              .main-billboard-item
                .main-billboard-item-date 30/05
                .main-billboard-item-info
                  .main-billboard-item-nums
                    .main-billboard-item-time 20:30
                    .main-billboard-item-day пт
                    .main-billboard-item-age
                  .main-billboard-item-text Весенние премьеры в учебном театре ГИТИС
              .main-billboard-item
                .main-billboard-item-date 30/05
                .main-billboard-item-info
                  .main-billboard-item-nums
                    .main-billboard-item-time 20:30
                    .main-billboard-item-day пт
                    .main-billboard-item-age 16+
                  .main-billboard-item-text Успейте приобрести билеты на театральные елки в этом году со скидками!
    .main-section.main-repertoire
      .container
        .main-section-title
          .main-section-title-name Репертуар
          .main-section-title-link
            a(href="#") Смотреть весь репертуар
        .main-section-content.main-repertoire-content
          .row
            .col-lg-4.col-md-6.col-12
              a(href="#", class="main-repertoire-item")
                .main-repertoire-item-img
                  img(src="images/hd/main-rep-1.jpg", alt="alt")
                .main-repertoire-item-info
                  .main-repertoire-item-aside
                    .main-repertoire-item-scene Основная сцена
                    .main-repertoire-item-age 18+
                  .main-repertoire-item-desc
                    .main-repertoire-item-name Над пропастью во ржи: сеанс психоанализа
                    .main-repertoire-item-actors Актерско-режиссерская мастерская А.С. Кончаловского
            .col-lg-4.col-md-6.col-12
              a(href="#", class="main-repertoire-item")
                .main-repertoire-item-img
                  img(src="images/hd/main-rep-2.jpg", alt="alt")
                .main-repertoire-item-info
                  .main-repertoire-item-aside
                    .main-repertoire-item-scene Основная сцена
                    .main-repertoire-item-age 16+
                  .main-repertoire-item-desc
                    .main-repertoire-item-name Выстрел
                    .main-repertoire-item-actors Актерский факультет
            .col-lg-4.col-md-6.col-12
              a(href="#", class="main-repertoire-item")
                .main-repertoire-item-img
                  img(src="images/hd/main-rep-3.jpg", alt="alt")
                .main-repertoire-item-info
                  .main-repertoire-item-aside
                    .main-repertoire-item-scene Новая сцена
                    .main-repertoire-item-age 12+
                  .main-repertoire-item-desc
                    .main-repertoire-item-name Романтический возраст
                    .main-repertoire-item-actors Актерско-режиссерская мастерская А.С. Кончаловского
            .col-lg-4.col-md-6.col-12
              a(href="#", class="main-repertoire-item")
                .main-repertoire-item-img
                  img(src="images/hd/main-rep-4.jpg", alt="alt")
                .main-repertoire-item-info
                  .main-repertoire-item-aside
                    .main-repertoire-item-scene Основная сцена
                    .main-repertoire-item-age 18+
                  .main-repertoire-item-desc
                    .main-repertoire-item-name Над пропастью во ржи: сеанс психоанализа
                    .main-repertoire-item-actors Актерско-режиссерская мастерская А.С. Кончаловского
            .col-lg-4.col-md-6.col-12
              a(href="#", class="main-repertoire-item")
                .main-repertoire-item-img
                  img(src="images/hd/main-rep-5.jpg", alt="alt")
                .main-repertoire-item-info
                  .main-repertoire-item-aside
                    .main-repertoire-item-scene Основная сцена
                    .main-repertoire-item-age 16+
                  .main-repertoire-item-desc
                    .main-repertoire-item-name Выстрел
                    .main-repertoire-item-actors Актерский факультет
            .col-lg-4.col-md-6.col-12
              a(href="#", class="main-repertoire-item")
                .main-repertoire-item-img
                  img(src="images/hd/main-rep-6.jpg", alt="alt")
                .main-repertoire-item-info
                  .main-repertoire-item-aside
                    .main-repertoire-item-scene Учебный корпус, ауд. 46 А
                    .main-repertoire-item-age 12+
                  .main-repertoire-item-desc
                    .main-repertoire-item-name Романтический возраст
                    .main-repertoire-item-actors Актерско-режиссерская мастерская А.С. Кончаловского
    .main-section.main-projects
      .container
        .main-section-title
          .main-section-title-name Проекты
          .main-section-title-link
            a(href="#") Смотреть все проекты
        .main-section-content.main-projects-content          
          .row
            .col-md-6.col-12
              a(href="#", class="projects-list-item")
                .projects-list-item-date
                  p 25/05
                  span
                  p 25/07
                .projects-list-item-info
                  .projects-list-item-img
                    img(src="images/hd/project-1.jpg", alt="проект-1")
                  .projects-list-item-title По дорогам фронтовых театров      
            .col-md-6.col-12
              a(href="#", class="projects-list-item")
                .projects-list-item-date
                  p 30/10
                .projects-list-item-info
                  .projects-list-item-img
                    img(src="images/hd/project-2.jpg", alt="проект-2")
                  .projects-list-item-title По дорогам фронтовых театров
    .main-section.main-news
      .container
        .main-section-title
          .main-section-title-name Пресс-центр
          .main-section-title-link
            a(href="#") Смотреть все
        .main-section-content.main-news-content
          a.news-item.news-item-primary(href="#")
            .news-item-wrap          
              .news-item-date
                .news-item-date-day 25/05
                .news-item-date-time пт, 20:30
                .news-item-date-tag Гастроли
              .news-item-img
                img(src="images/hd/news-3.jpg", alt="новость") 
              .news-item-text
                .news-item-text-title Мастерская Миндаугаса Карбаускиса сыграла премьеру в Театре Маяковского, очень длинный заголовок новости
                .news-item-text-content Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
                .news-item-views.views
                  img(src="images/images/views.svg", alt="views")
                  span 1 457 896
          a.news-item.news-item-secondary(href="#")
            .news-item-wrap                     
              .news-item-date
                .news-item-date-day 25/05
                .news-item-date-time пт, 20:30
                .news-item-date-tag Новости
              .news-item-img
                img(src="images/hd/news-1.jpg", alt="новость")          
              .news-item-text
                .news-item-text-title Сыграли премьеру в Театре Маяковского
                .news-item-text-content Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
                .news-item-views.views
                  img(src="images/images/views.svg", alt="views")
                  span 1 457 896
          a.news-item.news-item-no-img(href="#")
            .news-item-wrap                     
              .news-item-date
                .news-item-date-day 25/05
                .news-item-date-time пт, 20:30
                .news-item-date-tag Новости          
              .news-item-text
                .news-item-text-title Сыграли премьеру в Театре Маяковского
                .news-item-text-content Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
                .news-item-views.views
                  img(src="images/images/views.svg", alt="views")
                  span 1 457 896                            
    .main-section.main-partners
      .container
        .main-section-title
          .main-section-title-name Партнёры          
        .main-section-content.main-partners-content
          .slider-wrapper.slider-wrapper-mm
            .slick-slider.main-slider-partners
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-1.jpg", alt="alt")
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-2.jpg", alt="alt")
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-3.jpg", alt="alt")
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-4.jpg", alt="alt")
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-5.jpg", alt="alt")
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-6.jpg", alt="alt")
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-1.jpg", alt="alt")
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-2.jpg", alt="alt")
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-3.jpg", alt="alt")
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-4.jpg", alt="alt")
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-5.jpg", alt="alt")
              .slick-slider-slide
                a(href="#", class="main-slider-partners-slide")        
                  img(src="files/main-partners-6.jpg", alt="alt")
    .main-theatre
      .container
        .main-theatre-title Театр
          .main-theatre-canvas
            img(src="images/images/canvas.svg", alt="alt") 
        .main-theatre-subtitle Молодые артисты не боятся экспериментировать и постоянно вносят что-то новое в много раз уже сыгранные спектакли. 
      .main-scenes
        .main-scenes-cover
          img(src="images/hd/main-theatre.jpg", alt="театр")  
      .container
        .row.main-scenes-list
          .main-scenes-list-svg
            img(src="images/images/rounds2.svg", alt="alt")
          .col-md-6.col-12
            .main-scenes-list-item(style="background: url(images/images/main-scene-1.jpg) no-repeat center top/cover")
              a(href="#", class="main-scenes-content")
                .main-scenes-content-name Основная сцена
                .main-scenes-content-link Подробнее о площадке
          .col-md-6.col-12 
            .main-scenes-list-item(style="background: url(images/images/main-scene-2.jpg) no-repeat center top/cover")
              a(href="#", class="main-scenes-content")
                .main-scenes-content-name Новая сцена
                .main-scenes-content-link Подробнее о площадке
          .col-md-6.col-12 
            .main-scenes-list-item(style="background: url(images/images/main-scene-3.jpg) no-repeat center top/cover")
              a(href="#", class="main-scenes-content")
                .main-scenes-content-name Главный учебный корпус, ауд 26
                .main-scenes-content-link Подробнее о площадке
          .col-md-6.col-12 
            .main-scenes-list-item(style="background: url(images/images/main-scene-4.jpg) no-repeat center top/cover")
              a(href="#", class="main-scenes-content")
                .main-scenes-content-name Главный учебный корпус, ауд 39
                .main-scenes-content-link Подробнее о площадке
          .col-md-6.col-12 
            .main-scenes-list-item(style="background: url(images/images/main-scene-5.jpg) no-repeat center top/cover")
              a(href="#", class="main-scenes-content")
                .main-scenes-content-name  Главный учебный корпус, ауд 46 A
                .main-scenes-content-link Подробнее о площадке
          .col-md-6.col-12 
            .main-scenes-list-item(style="background: url(images/images/main-scene-2.jpg) no-repeat center top/cover")
              a(href="#", class="main-scenes-content")
                .main-scenes-content-name Главный учебный корпус, ауд 46 Б
                .main-scenes-content-link Подробнее о площадке
        
    
  include includes/footer.pug
