doctype html
html(lang='ru')

include includes/head.pug

body
  .links
    a(href="projects.html", class="link") проекты
    a(href="project.html", class="link") проект
    a(href="news.html", class="link") новости
    a(href="news-img.html", class="link") новость (с фото)
    a(href="news-noimg.html", class="link") новость (без фото)
    a(href="contacts.html", class="link") контакты
    a(href="partners.html", class="link") партнеры
    a(href="stages.html", class="link") площадки
    a(href="stage.html", class="link") площадка
    a(href="playbill-date-img.html", class="link") Афиша(по датам с фото)
    a(href="playbill-date-noimg.html", class="link") Афиша(по датам без фото)
    a(href="playbill-abc-img.html", class="link") Афиша(по алф. c фото)
    a(href="playbill-abc-noimg.html", class="link") Афиша(по алф. без фото)
    a(href="repertoire.html", class="link") Репертуар
            