doctype html
html(lang='ru')

include includes/head.pug

body
  .links
    a(href="home.html", class="link") Главная страница
    a(href="projects.html", class="link") проекты (адаптированно)
    a(href="project.html", class="link") проект (адаптированно)
    a(href="news.html", class="link") новости (адаптированно)
    a(href="news-img.html", class="link") новость (с фото) (адаптированно)
    a(href="news-noimg.html", class="link") новость (без фото) (адаптированно)
    a(href="contacts.html", class="link") контакты (адаптированно)
    a(href="partners.html", class="link") партнеры (адаптированно)
    a(href="stages.html", class="link") площадки (адаптированно)
    a(href="stage.html", class="link") площадка (адаптированно)
    a(href="playbill.html", class="link") Афиша(адаптированно)
    a(href="repertoire.html", class="link") Репертуар (адаптированно)
    a(href="show.html", class="link") Спектакль (адаптированно)
    a(href="show-date.html", class="link") Спектакль с афишей (адаптированно)
    
            