doctype html
html(lang='ru')

include includes/head.pug

body

  include includes/header.pug

  main  
    .page-header(style="background: url(images/hd/page-cover.jpg)")
      .page-header-grad
        .container
          .page-header-content
            ul.breadcrumbs
              li
                a(href="/", class="breadcrumbs-link") Главная 
              li
                a(href="/gitis", class="breadcrumbs-link breadcrumbs-link-disable") Пресс-центр
            h1.page-title Пресс-центр

    .news
      .container        
        .news-filter
          .news-filter-list          
            a.news-filter-item.active(href="#") все
            a.news-filter-item(href="#") новости
            a.news-filter-item(href="#") гастроли
            a.news-filter-item(href="#") сми&nbsp;о&nbsp;нас
        a.news-item.news-item-secondary(href="#")
          .news-item-wrap                      
            .news-item-date
              .news-item-date-day 25/05
              .news-item-date-time пт, 20:30
              .news-item-date-tag Новости              
            .news-item-img
              img(src="images/hd/news-1.jpg", alt="новость")            
            .news-item-text
              .news-item-text-title Мастерская Миндаугаса Карбаускиса сыграла премьеру в Театре Маяковского
              .news-item-text-content Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
              .news-item-views.views
                img(src="images/images/views.svg", alt="views")
                span 1 457 896
        a.news-item.news-item-primary(href="#")
          .news-item-wrap          
            .news-item-date
              .news-item-date-day 25/05
              .news-item-date-time пт, 20:30
              .news-item-date-tag СМИ о нас
            .news-item-img
              img(src="images/hd/news-2.jpg", alt="новость") 
            .news-item-text
              .news-item-text-title Отмена всех спектаклей до 30 апреля
              .news-item-text-content Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
              .news-item-views.views
                img(src="images/images/views.svg", alt="views")
                span 1 457 896
        a.news-item.news-item-primary(href="#")
          .news-item-wrap          
            .news-item-date
              .news-item-date-day 25/05
              .news-item-date-time пт, 20:30
              .news-item-date-tag Гастроли
            .news-item-img
              img(src="images/hd/news-3.jpg", alt="новость") 
            .news-item-text
              .news-item-text-title Мастерская Миндаугаса Карбаускиса сыграла премьеру в Театре Маяковского, очень длинный заголовок новости
              .news-item-text-content Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
              .news-item-views.views
                img(src="images/images/views.svg", alt="views")
                span 1 457 896
        a.news-item.news-item-secondary(href="#")
          .news-item-wrap                     
            .news-item-date
              .news-item-date-day 25/05
              .news-item-date-time пт, 20:30
              .news-item-date-tag Новости
            .news-item-img
              img(src="images/hd/news-1.jpg", alt="новость")          
            .news-item-text
              .news-item-text-title Сыграли премьеру в Театре Маяковского
              .news-item-text-content Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
              .news-item-views.views
                img(src="images/images/views.svg", alt="views")
                span 1 457 896
        a.news-item.news-item-no-img(href="#")
          .news-item-wrap                     
            .news-item-date
              .news-item-date-day 25/05
              .news-item-date-time пт, 20:30
              .news-item-date-tag Новости          
            .news-item-text
              .news-item-text-title Сыграли премьеру в Театре Маяковского
              .news-item-text-content Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
              .news-item-views.views
                img(src="images/images/views.svg", alt="views")
                span 1 457 896
    .page-ellipse
      img(src="images/images/ellipse.svg", alt="эллипс")



  include includes/footer.pug