doctype html
html(lang='ru')

include includes/head.pug

body

  include includes/header.pug

  main
    .page-header
      .page-header-grad
        .container
          ul.breadcrumbs
            li
              a(href="/", class="breadcrumbs-link") Главная 
            li
              a(href="/gitis", class="breadcrumbs-link breadcrumbs-link-disable") Партнеры
          h1.page-title Партнеры
      .page-header-icon
        img(src="images/images/rounds.svg", alt="круги")

    .partners-list
      .container 
        .row
          .col-3
            a(href="#", class="partners-item")
              .partners-item-logo 
                img(src="/images/images/partner-1.jpg", alt="Описание")
              .partners-item-name Сервис заказа билетов 
              .partners-item-about Действие происходит в маленьком городе Кьоджи, что в восьми милях от Венеции, населенном рыбаками и их семействами.
          .col-3
            a(href="#", class="partners-item")
              .partners-item-logo 
                img(src="/images/images/partner-2.jpg", alt="Описание")
              .partners-item-name Сервис заказа билетов 
              .partners-item-about Действие происходит в маленьком городе Кьоджи, что в восьми милях от Венеции, населенном рыбаками и их семействами.
          .col-3
            a(href="#", class="partners-item")
              .partners-item-logo 
                img(src="/images/images/partner-3.jpg", alt="Описание")
              .partners-item-name Сервис заказа билетов 
              .partners-item-about Действие происходит в маленьком городе Кьоджи, что в восьми милях от Венеции, населенном рыбаками и их семействами.
          .col-3
            a(href="#", class="partners-item")
              .partners-item-logo 
                img(src="/images/images/partner-4.jpg", alt="Описание")
              .partners-item-name Сервис заказа билетов 
              .partners-item-about Действие происходит в маленьком городе Кьоджи, что в восьми милях от Венеции, населенном рыбаками и их семействами.
          .col-3
            a(href="#", class="partners-item")
              .partners-item-logo 
                img(src="/images/images/partner-1.jpg", alt="Описание")
              .partners-item-name Сервис заказа билетов 
              .partners-item-about Действие происходит в маленьком городе Кьоджи, что в восьми милях от Венеции, населенном рыбаками и их семействами.
          .col-3
            a(href="#", class="partners-item")
              .partners-item-logo 
                img(src="/images/images/partner-2.jpg", alt="Описание")
              .partners-item-name Сервис заказа билетов 
              .partners-item-about Действие происходит в маленьком городе Кьоджи, что в восьми милях от Венеции, населенном рыбаками и их семействами.
          .col-3
            a(href="#", class="partners-item")
              .partners-item-logo 
                img(src="/images/images/partner-3.jpg", alt="Описание")
              .partners-item-name Сервис заказа билетов 
              .partners-item-about Действие происходит в маленьком городе Кьоджи, что в восьми милях от Венеции, населенном рыбаками и их семействами.
          .col-3
            a(href="#", class="partners-item")
              .partners-item-logo 
                img(src="/images/images/partner-4.jpg", alt="Описание")
              .partners-item-name Сервис заказа билетов 
              .partners-item-about Действие происходит в маленьком городе Кьоджи, что в восьми милях от Венеции, населенном рыбаками и их семействами.



  include includes/footer.pug