include includes/head.pug

body

  include includes/header.pug

  main
    .page-header(style="background: url(images/hd/page-cover.jpg)")
      .page-header-grad
        .container
          .page-header-content
            ul.breadcrumbs
              li
                a(href="/", class="breadcrumbs-link") Главная 
              li
                a(href="/gitis", class="breadcrumbs-link breadcrumbs-link-disable") Афиша
            h1.page-title Афиша

    
    .page-body.sticky-wrapper
      .calendar.sticky-block
        .container
          .months
            .months-prev
              img(class="svg-inline", src="images/images/calendar-prev.svg", alt="назад")
            .months-prev-m
              img(class="svg-inline", src="images/images/calendar-prev-m.svg", alt="назад")
            .months-current
              ul.months-current-month
                li.months-current-month-item январь
                li.months-current-month-item февраль
                li.months-current-month-item март
                li.months-current-month-item апрель
                li.months-current-month-item май
                li.months-current-month-item июнь
                li.months-current-month-item июль
                li.months-current-month-item август
                li.months-current-month-item.current сентябрь
                li.months-current-month-item октябрь
                li.months-current-month-item ноябрь
                li.months-current-month-item декабрь
              <span>/</span>
              ul.months-current-year
                li.months-current-year-item.current 2020
                li.months-current-year-item 2021
                li.months-current-year-item 2022
                li.months-current-year-item 2023
            .months-next
              img(class="svg-inline", src="images/images/calendar-next.svg", alt="вперед")
            .months-next-m
              img(class="svg-inline", src="images/images/calendar-next-m.svg", alt="вперед")
          .calendar-wrapper
            include loads/days.pug
      
      .filter
        .container
          form.filter-wrap#filterForm
            .filter-abc
              input(type="radio", name="VIEW_TYPE", value="DATE", id="DATE", checked)
              label(for="DATE")
                .filter-abc-date.filter-abc-item.active <span>по дате</span><span>01-31</span>
              input(type="radio", name="VIEW_TYPE", value="ABC", id="ABC")
              label(for="ABC")
                .filter-abc-abc.filter-abc-item <span>по алфавиту</span><span>а-я</span>
            select.filter-scene
              option(value="1") Все сцены
              option(value="2") Основная сцена
              option(value="3") Новая сцена
              option(value="4") Учебный корпус ГИТИС, ауд. 26
              option(value="5") Учебный корпус ГИТИС, ауд. 39
              option(value="6") Учебный корпус ГИТИС, ауд. 46А
              option(value="7") Учебный корпус ГИТИС, ауд. 46Б
            .filter-img
              input(type="radio", name="IMG_TYPE", value="IMG", id="IMG", checked)
              label(for="IMG")
                .filter-img-yes.filter-img-item.active
                  img.svg-inline.filter-img-item-svg(src="images/images/filter-img.svg", alt="с фото")
              input(type="radio", name="IMG_TYPE", value="NOIMG", id="NOIMG")
              label(for="NOIMG")    
                .filter-img-no.filter-img-item
                  img.svg-inline.filter-img-item-svg(src="images/images/filter-list.svg", alt="без фото")
      .playbill-wrapper
      .container    
        .page-ellipse.active
          img(src="images/images/ellipse.svg", alt="эллипс")

  include includes/footer.pug