include includes/head.pug

body

  include includes/header.pug

  main
    .page-header
      .page-header-grad
        .container
          ul.breadcrumbs
            li
              a(href="/", class="breadcrumbs-link") Главная 
            li
              a(href="/gitis", class="breadcrumbs-link breadcrumbs-link-disable") Афиша
          h1.page-title Афиша          
      .page-header-icon
        img(src="images/images/rounds.svg", alt="круги")

    
    .calendar
      .container
        .months
          .months-prev
            img(src="images/images/calendar-prev.svg", alt="назад")
          .months-current апрель <span>/</span> 2020
          .months-next
            img(src="images/images/calendar-next.svg", alt="вперед")
        .letters
          .letter а
          .letter б
          .letter в
          .letter г
          .letter д
          .letter е
          .letter.empty ё
          .letter ж
          .letter з
          .letter и
          .letter.empty й
          .letter.empty к
          .letter л
          .letter м
          .letter н
          .letter о
          .letter п
          .letter р
          .letter с
          .letter т
          .letter у
          .letter ф
          .letter х
          .letter.empty ц
          .letter.empty ч
          .letter ш
          .letter щ
          .letter.empty э
          .letter.empty ю
          .letter.empty я
    .filter
      .container
        .filter-wrap
          .row
            .col-3
              .filter-abc
                .filter-abc-date.filter-abc-item.active 01-31
                .filter-abc-abc.filter-abc-item а-я
            .col-6
              .filter-scene
                .filter-scene-all.filter-scene-item.active все
                .filter-scene-main.filter-scene-item основная сцена
                .filter-scene-new.filter-scene-item новая сцена
            .col-3
              .filter-img
                .filter-img-yes.filter-img-item.active
                  img(src="images/images/filter-img.svg", alt="с фото")
                .filter-img-no.filter-img-item
                  img(src="images/images/filter-list.svg", alt="без фото")

    .playbill.abc.img
      .container
        .playbill-date
          .row
            .col-2
              .playbill-day 
                .playbill-day-number а
            .col-10
              .playbill-item
                .playbill-item-img
                  img(src="images/images/bill-8.jpg", alt="alt")
                .playbill-item-desc
                  .playbill-item-time
                    .playbill-item-time-info 18.04
                    .playbill-item-time-info 22.04
                    .playbill-item-time-info 30.04
                    .playbill-item-time-age 16+
                  .playbill-item-title Ах, Оффенбах!
                  .playbill-item-info Актерский факультет, Актерско-режиссерская мастерская А.С.Кончаловского
                  .playbill-item-scene Основная сцена
                .playbill-item-ticket
                  a(href="#")
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="купить билет")  
        .playbill-date
          .row
            .col-2
              .playbill-day 
                .playbill-day-number б
            .col-10
              .playbill-item
                .playbill-item-img
                  img(src="images/images/bill-9.jpg", alt="alt")
                .playbill-item-desc
                  .playbill-item-time
                    .playbill-item-time-info 18.04
                    .playbill-item-time-info 22.04
                    .playbill-item-time-info 30.04
                    .playbill-item-time-age 16+
                  .playbill-item-title Бернарда Альба
                  .playbill-item-info Актерский факультет
                  .playbill-item-scene Основная сцена
                .playbill-item-ticket
                  a(href="#")
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="купить билет")  
              .playbill-item
                .playbill-item-img
                  img(src="images/images/bill-10.jpg", alt="alt")
                .playbill-item-desc
                  .playbill-item-time
                    .playbill-item-time-info 18.04
                    .playbill-item-time-info 22.04
                    .playbill-item-time-info 30.04
                    .playbill-item-time-age 16+
                  .playbill-item-title Бешеные деньги
                  .playbill-item-info Актерский факультет
                  .playbill-item-scene Основная сцена
                .playbill-item-ticket
                  a(href="#")
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="купить билет")  
              .playbill-item
                .playbill-item-img
                  img(src="images/images/bill-11.jpg", alt="alt")
                .playbill-item-desc
                  .playbill-item-time
                    .playbill-item-time-age 16+
                  .playbill-item-title Бешеные деньги
                  .playbill-item-info Актерский факультет
                  .playbill-item-scene Основная сцена                  
        
        .page-ellipse
          img(src="images/images/ellipse.svg", alt="эллипс")

  include includes/footer.pug