doctype html
html(lang='ru')

include includes/head.pug

body

  include includes/header.pug
  
  main
    .page-slider-top
      .container
        .slick-slider.project-slider-top
          .slick-slider-slide.project-slider-top-slide
            img(src="files/project-slide-1.jpg", alt="фото")
          .slick-slider-slide.project-slider-top-slide
            img(src="files/project-slide-1.jpg", alt="фото")

    .page-content.project-content
      .container
        ul.breadcrumbs
          li
            a(href="/", class="breadcrumbs-link") Главная 
          li
            a(href="/gitis", class="breadcrumbs-link") Проекты
          li
            a(href="/gitis", class="breadcrumbs-link breadcrumbs-link-disable") Международный студенческий фестиваль
        h1 Международный студенческий фестиваль Gitis Fest
        .row
          .col-lg-4.col-12
            .page-content-info
              .page-content-info-img
                img(src="images/images/project-gitis-logo.jpg", alt="logo")
              .page-content-info-web
                a(href="#") Перейти на сайт фестиваля          
              .page-content-info-phone
                a(href="tel:+74956297087") +7 (495) 629-70-87          
              .page-content-info-adress г.Москва, Большой Гнездниковский пер., д.10, стр. 4          
              .page-content-info-email
                a(href="mailto:teatr@gitis.net") teatr@gitis.net
              .page-content-info-social Группы в социальных сетях
              .page-content-info-social-links
                a(href="#")
                  img(src="images/images/vk.svg", alt="alt") 
                a(href="#")
                  img(src="images/images/twitter.svg", alt="alt") 
                a(href="#")
                  img(src="images/images/fb.svg", alt="alt") 
                a(href="#")
                  img(src="images/images/ok.svg", alt="alt") 

          .col-lg-8.col-12
            .page-content-bill
              .row                
                .col-md-6.col-12.page-content-bill-item
                  .page-content-bill-item-date
                    .page-content-bill-item-date-day 20/08
                    .page-content-bill-item-date-year 2020
                    .page-content-bill-item-date-text Дата проведения проекта
                  .page-content-bill-item-button.page-content-bill-item-button-red
                    a(href="#") Я зритель. Хочу пойти!
                .col-md-6.col-12.page-content-bill-item
                  .page-content-bill-item-date
                    .page-content-bill-item-date-day 11/05
                    .page-content-bill-item-date-year 2020
                    .page-content-bill-item-date-text Окончание подачи заявок участников
                  .page-content-bill-item-button.page-content-bill-item-button-white
                    a(href="#") Я участник. Подать заявку
              .page-content-bill-info Исходя из поданных заявок Оргкомитет фестиваля формирует программу и расписание Фестиваля, которые будут опубликованы на сайте ГИТИС не позднее 28 февраля 2020 года.
            .page-content-desc
              .page-content-desc-title
                |Спектакль поставлен по комедии Карло Гольдони
                |«Кьоджинские перепалки». Выпускная работа
                |актерского факультета ГИТИСа, мастерской
                |Андреева Владимира Алексеевича.
              p
                |Действие происходит в маленьком городе Кьоджи, что в восьми милях от Венеции,
                |населенном рыбаками и их семействами. 
              p
                |Видимо, этот сюжет <a href="#">Гольдони</a> взял из собственной биографии, ведь какое-то время он жил там и занимал должность судьи - знал о нравах рыбацких семейств не понаслышке. Наблюдая, как развиваются события в этот летний ветреный денек, понимаешь, насколько ему было непросто! Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. Бурный темперамент рыбаков и их женщин, кажется, никто не может угомонить. 
              .page-content-desc-bold
                |Чем закончится история, разгоревшаяся из-за крошечной ссоры? Смогут ли все достичь желаемого счастья, или так и не справятся со своими страстями?
              p  
                |Гольдони взял из собственной биографии, ведь какое-то время он жил там и занимал должность судьи - знал о нравах рыбацких семейств не понаслышке. Наблюдая, как развиваются события в этот летний ветреный денек, понимаешь, насколько ему было непросто! 
              p  
                |Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. Бурный темперамент рыбаков и их женщин, кажется, никто не может угомонить.   
        .row
          .offset-md-2
          .col-12.col-md-10
            .page-content-quote
              .page-content-quote-img
                img(src="images/images/quote.svg", alt="цитата")
              .page-content-quote-text
                |Для ГИТИСа каждый год – это Год театра. Мы запускаем
                |сейчас проект «театральных уроков», на которых в
                |школах наши мастера будут рассказывать и об истории
                |русского театра, и о тех профессиях, которым мы учим
                |в ГИТИСа
            .page-content-director
              .page-content-director-info
                .page-content-director-name Григорий Анатольевич Заславский
                .page-content-director-about Российский театральный критик, ректор Российского института театрального искусства — ГИТИСа с 2016 года, кандидат филологических наук.
              .page-content-director-foto
                img(src="images/hd/director.jpg", alt="Заславский")    
        .row
          .offset-md-4
          .col-12.col-md-8
            .page-content-about
              |Действие происходит в маленьком городе Кьоджи, что в восьми милях от Венеции, населенном рыбаками и их семействами Видимо, этот сюжет Гольдони взял из собственной биографии, ведь какое-то время он жил там и занимал должность судьи - знал о нравах рыбацких семейств не понаслышке. Наблюдая, как развиваются события в этот летний ветреный денек, понимаешь, насколько ему было непросто! Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
        .page-content-media
          h3 Видео о проекте
          .row
            .col-12.col-lg-2
              .page-content-media-desc
                |Подпись к видео о проекте, заголовок может быть очень длинным, его может вообще не быть
            .col-12.col-lg-10  
              .page-content-media-movie
                .page-content-media-movie-clip
                  img(src="images/hd/video.jpg", alt="видео")
                .page-content-media-movie-pause
                  img(src="images/images/pause.svg", alt="пауза")  
                .page-content-media-movie-full  
                  img(src="images/images/full-screen.svg", alt="во весь экран")
          .row    
            .offset-md-4
            .col-12.col-md-8
              .page-content-media-text
                |Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. Бурный темперамент рыбаков и их женщин, кажется, никто не может угомонить.  Чем закончится история, разгоревшаяся из-за крошечной ссоры? Смогут ли все достичь желаемого счастья, или так и не справятся со своими страстями?     
        .page-content-gallery
          h3 Дополнительный вид галереи плиткой
          .row
            .col-sm-6.col-12
              .page-content-gallery-item
                img(src="images/hd/gallery-1.jpg", alt="галерея")
            .col-sm-6.col-12
              .page-content-gallery-item
                img(src="images/hd/gallery-2.jpg", alt="галерея")
            .col-sm-6.col-12
              .page-content-gallery-item
                img(src="images/hd/gallery-3.jpg", alt="галерея")
            .col-sm-6.col-12
              .page-content-gallery-item
                img(src="images/hd/gallery-1.jpg", alt="галерея")
        .page-content-idea
          h3 Идея спектакля и творческая группа
          .row
            .offset-md-4
            .col-12.col-md-8
              .page-content-desc
                p
                  |Наблюдая, как развиваются события в этот летний ветреный денек, понимаешь, насколько ему было непросто! 
                p  
                  |Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. Бурный темперамент рыбаков и их женщин, кажется, никто не может угомонить.  Чем закончится история, разгоревшаяся из-за крошечной ссоры? Смогут ли все достичь желаемого счастья, или так и не справятся со своими страстями?
          .row
            .offset-md-2
            .col-12.col-md-10
              .page-content-quote
                .page-content-quote-img
                  img(src="images/images/quote.svg", alt="цитата")
                .page-content-quote-text
                  |Мы запускаем сейчас проект «театральных уроков», на которых в школах наши мастера будут рассказывать.
              .page-content-director
                .page-content-director-info
                  .page-content-director-name Григорий Анатольевич Заславский
                  .page-content-director-about Российский театральный критик, ректор Российского института театрального искусства — ГИТИСа с 2016 года, кандидат филологических наук.
        .row
          .col-12.col-lg-2
            .page-content-media-desc
              |Подпись к фото о проекте, заголовок может быть очень длинным, его может вообще не быть
          .col-12.col-lg-10  
            .page-content-media-movie.page-content-media-foto
              .page-content-media-movie-clip
                img(src="images/hd/video.jpg", alt="фото")
        .page-content-extra
          h4 Мастерская Миндаугаса Карбаускиса
          .row
            .offset-md-4
            .col-12.col-md-8
              .page-content-extra-text
                p Наблюдая, как развиваются события в этот летний ветреный денек, понимаешь, насколько ему было непросто!
                p Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
                p Бурный темперамент рыбаков и их женщин, кажется, никто не может угомонить.  
                p Чем закончится история, разгоревшаяся из-за крошечной ссоры? Смогут ли все достичь желаемого счастья, или так и не справятся со своими страстями?                             
        .page-content-media
          .row
            .col-12.col-lg-2
            .col-12.col-lg-10  
              .page-content-media-movie.page-content-media-foto
                .page-content-media-movie-clip
                  img(src="images/hd/foto.jpg", alt="фото")
          .row    
            .offset-md-4
            .col-12.col-md-8
              .page-content-media-text
                p 
                  |Действие происходит в маленьком городе Кьоджи, что в восьми милях от Венеции, населенном рыбаками и их семействами Видимо, этот сюжет Гольдони взял из собственной биографии, ведь какое-то время он жил там и занимал должность судьи - знал о нравах рыбацких семейств не понаслышке. Наблюдая, как развиваются события в этот летний ветреный денек, понимаешь, насколько ему было непросто! Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
                p
                  |Бурный темперамент рыбаков и их женщин, кажется, никто не может угомонить.  Чем закончится история, разгоревшаяся из-за крошечной ссоры? Смогут ли все достичь желаемого счастья, или так и не справятся со своими страстями?
        .page-content-extra
          h4 Мастерская Миндаугаса Карбаускиса сыграла премьеру в Театре Маяковского
          .row
            .offset-md-4
            .col-12.col-md-8
              .page-content-extra-text.extra-actors
                p Либретто – <span>Антон Музыкантский, Дарья Аксёнова (с использованием переводов Марии Бар) В спектакле звучит музыка Кевина Мёрфи и Лоренсa О'Кифф из мюзикла «Heathers», а также авторские композиции Екатерины Гусар.</span>
                p Автор идеи, режиссёр-постановщик, сценография, пластика – <span>Антон Музыкантский</span>
                p Музыкальный руководитель – <span>Екатерина Гусар</span>
                p Художники по костюмам – <span>Анастасия Пугашкина, Екатерина Гутовская</span>
                p Хореограф – <span>Виктория Канаткина</span>
                p Художественный руководитель курса – <span>Лика Рулла</span>
        .page-content-social
          .page-content-info-social
            .page-content-info-social-text Поделитесь:
            div(class="page-content-info-social-list ya-share2" data-services="vkontakte,twitter,facebook,odnoklassniki")
              <script src="https://yastatic.net/share2/share.js" async="async"></script>                 
          .page-content-social-views.views
            img(src="images/images/views.svg", alt="views")
            span 1 457 896
        .page-content-news.show-news
          .show-news-title Новости о проекте
          .show-news-content
            a.news-item.news-item-primary(href="#")
              .news-item-wrap          
                .news-item-date
                  .news-item-date-day 25/05
                  .news-item-date-time пт, 20:30
                  .news-item-date-tag Гастроли
                .news-item-img
                  img(src="images/hd/news-3.jpg", alt="новость") 
                .news-item-text
                  .news-item-text-title Мастерская Миндаугаса Карбаускиса сыграла премьеру в Театре Маяковского, очень длинный заголовок новости
                  .news-item-text-content Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
                  .news-item-views.views
                    img(src="images/images/views.svg", alt="views")
                    span 1 457 896
            a.news-item.news-item-secondary(href="#")
              .news-item-wrap                     
                .news-item-date
                  .news-item-date-day 25/05
                  .news-item-date-time пт, 20:30
                  .news-item-date-tag Новости
                .news-item-img
                  img(src="images/hd/news-1.jpg", alt="новость")          
                .news-item-text
                  .news-item-text-title Сыграли премьеру в Театре Маяковского
                  .news-item-text-content Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
                  .news-item-views.views
                    img(src="images/images/views.svg", alt="views")
                    span 1 457 896
            a.news-item.news-item-no-img(href="#")
              .news-item-wrap                     
                .news-item-date
                  .news-item-date-day 25/05
                  .news-item-date-time пт, 20:30
                  .news-item-date-tag Новости          
                .news-item-text
                  .news-item-text-title Сыграли премьеру в Театре Маяковского
                  .news-item-text-content Любовь и ревность, искренность и лукавство сдобренная крепким народным юмором, приводит два соседских семейства к нешуточному противостоянию, развивающемуся со скоростью урагана и затягивающему всех в весёлую и бесконечную неразбериху. 
                  .news-item-views.views
                    img(src="images/images/views.svg", alt="views")
                    span 1 457 896

    .page-slider-bottom
      .container 
        .page-slider-bottom-title Смотрите также       
        .slider-wrapper          
          .slick-slider.project-slider-bottom
            .slick-slider-slide.project-slider-bottom-slide          
              .col-12
                a(href="#", class="projects-list-item")
                  .projects-list-item-date
                    p 25/05
                    span
                    p 25/07
                  .projects-list-item-info
                    .projects-list-item-img
                      img(src="images/hd/project-1.jpg", alt="проект-1")
                    .projects-list-item-title По дорогам фронтовых театров
            .slick-slider-slide.project-slider-bottom-slide            
              .col-12
                a(href="#", class="projects-list-item")
                  .projects-list-item-date
                    p 30/10
                  .projects-list-item-info
                    .projects-list-item-img
                      img(src="images/hd/project-2.jpg", alt="проект-2")
                    .projects-list-item-title Театр ГИТИС и федеральная программа “Большие гастроли”
            .slick-slider-slide.project-slider-bottom-slide          
              .col-12
                a(href="#", class="projects-list-item")
                  .projects-list-item-date
                    p 25/05
                    span
                    p 25/07
                  .projects-list-item-info
                    .projects-list-item-img
                      img(src="images/hd/project-1.jpg", alt="проект-1")
                    .projects-list-item-title По дорогам фронтовых театров
            .slick-slider-slide.project-slider-bottom-slide            
              .col-12
                a(href="#", class="projects-list-item")
                  .projects-list-item-date
                    p 30/10
                  .projects-list-item-info
                    .projects-list-item-img
                      img(src="images/hd/project-2.jpg", alt="проект-2")
                    .projects-list-item-title Театр ГИТИС и федеральная программа “Большие гастроли”
            .slick-slider-slide.project-slider-bottom-slide          
              .col-12
                a(href="#", class="projects-list-item")
                  .projects-list-item-date
                    p 25/05
                    span
                    p 25/07
                  .projects-list-item-info
                    .projects-list-item-img
                      img(src="images/hd/project-1.jpg", alt="проект-1")
                    .projects-list-item-title По дорогам фронтовых театров
            .slick-slider-slide.project-slider-bottom-slide            
              .col-12
                a(href="#", class="projects-list-item")
                  .projects-list-item-date
                    p 30/10
                  .projects-list-item-info
                    .projects-list-item-img
                      img(src="images/hd/project-2.jpg", alt="проект-2")
                    .projects-list-item-title Театр ГИТИС и федеральная программа “Большие гастроли”
        

  include includes/footer.pug