doctype html
html(lang='ru')

include includes/head.pug

body

  include includes/header.pug

  main
    #mobile-indicator
    .page-header
      .prlx-cover
        img(src="images/hd/page-cover.jpg", alt="")
      .page-header-grad
        .container
          .page-header-content
            ul.breadcrumbs
              li
                a(href="/", class="breadcrumbs-link") Главная 
              li
                a(href="/gitis", class="breadcrumbs-link breadcrumbs-link-disable") Проекты
            h1.page-title Проекты
    
    .projects-list
      .container
        .row
          .col-lg-6.col-12
            a(href="#", class="projects-list-item")
              .projects-list-item-date
                p 25/05
                span
                p 25/07
              .projects-list-item-info
                .projects-list-item-img
                  img(src="images/hd/project-1.jpg", alt="проект-1")
                .projects-list-item-title По дорогам фронтовых театров      
          .col-lg-6.col-12
            a(href="#", class="projects-list-item")
              .projects-list-item-date
                p 30/10
              .projects-list-item-info
                .projects-list-item-img
                  img(src="images/hd/project-2.jpg", alt="проект-2")
                .projects-list-item-title Театр ГИТИС и федеральная программа “Большие гастроли”      
          .col-lg-6.col-12
            a(href="#", class="projects-list-item")
              .projects-list-item-date
                p 30/10
              .projects-list-item-info
                .projects-list-item-img
                  img(src="images/hd/project-3.jpg", alt="проект-3")
                .projects-list-item-title Лаборатория будущего театра      
          .col-lg-6.col-12
            a(href="#", class="projects-list-item")
              .projects-list-item-date
                p 25/05
                span
                p 25/07
              .projects-list-item-info
                .projects-list-item-img
                  img(src="images/hd/project-4.jpg", alt="проект-4")
                .projects-list-item-title Акустическая читка      
          .col-lg-6.col-12  
            a(href="#", class="projects-list-item")
              .projects-list-item-date
                p 25/05
                span
                p 25/07
              .projects-list-item-info
                .projects-list-item-img
                  img(src="images/hd/project-5.jpg", alt="проект-6")
                .projects-list-item-title По дорогам фронтовых театров        
          .col-lg-6.col-12
            a(href="#", class="projects-list-item")
              .projects-list-item-date
                p 25/05
                span
                p 25/07
              .projects-list-item-info
                .projects-list-item-img
                  img(src="images/hd/project-6.jpg", alt="проект-6")
                .projects-list-item-title По дорогам фронтовых театров      
    .page-ellipse
      img(src="images/images/ellipse.svg", alt="эллипс")

  include includes/footer.pug                    