doctype html
html(lang='ru')

include includes/head.pug

body

  include includes/header.pug

  main
    .page-header(style="background: url(images/hd/page-cover.jpg)")
      .page-header-grad
        .container
          .page-header-content
            ul.breadcrumbs
              li
                a(href="/", class="breadcrumbs-link") Главная 
              li
                a(href="/gitis", class="breadcrumbs-link breadcrumbs-link-disable") Репертуар
            h1.page-title Репертуар

    .repertoire-filter
      .container
        .repertoire-filter-wrap
          .repertoire-filter-item.active
            a(href="#") по популярности
          .repertoire-filter-item
            a(href="#") по алфавиту
    .repertoire-list
      .container
        .repertoire-list-item
          .row
            a.col-lg-3.col-md-6.col-12(href="#")
              .repertoire-list-item-img
                img(src="images/images/bill-8.jpg", alt="спектакль")
            .col-lg-9.col-md-6.col-12
              a.repertoire-list-item-block(href="#")
                .repertoire-list-item-desc
                  .repertoire-list-item-title Ах, Оффенбах!    
                  .repertoire-list-item-subtitle Спектакль поставлен по комедии Карло Гольдони «Кьоджинские перепалки». Выпускная работа актерского факультета ГИТИСа, мастерской Андреева Владимира Алексеевича.   
                  .repertoire-list-item-actors 
                    p Актерский факультет, режиссерский факультет.
                    p Актерско-режиссерская мастерская А.С. Кончаловского
                  .repertoire-list-item-genre Мелодрама, комедия            
                .repertoire-list-item-info
                  .repertoire-list-item-info-wrap
                    .repertoire-list-item-length 2:30
                    .repertoire-list-item-interval с одним антрактом
                    .repertoire-list-item-age 16+           
                object.playbill-item-buy
                  a.playbill-item-buy-item(href="#")
                    .playbill-item-buy-date 18.04      
                    .playbill-item-ticket
                      .playbill-item-ticket-text Купить билет
                      .playbill-item-ticket-img 
                        img(src="images/images/bill-ticket.svg", alt="")  
                  a.playbill-item-buy-item(href="#")
                    .playbill-item-buy-date 22.04      
                    .playbill-item-ticket
                      .playbill-item-ticket-text Купить билет
                      .playbill-item-ticket-img 
                        img(src="images/images/bill-ticket.svg", alt="")  
                  a.playbill-item-buy-item(href="#")
                    .playbill-item-buy-date 30.04      
                    .playbill-item-ticket
                      .playbill-item-ticket-text Купить билет
                      .playbill-item-ticket-img 
                        img(src="images/images/bill-ticket.svg", alt="")
        .repertoire-list-item
          .row
            a.col-lg-3.col-md-6.col-12(href="#")
              .repertoire-list-item-img
                img(src="images/images/bill-9.jpg", alt="спектакль")
            .col-lg-9.col-md-6.col-12
              a.repertoire-list-item-block(href="#")
                .repertoire-list-item-desc
                  .repertoire-list-item-title Выстрел    
                  .repertoire-list-item-subtitle Выпускная работа актерского факультета ГИТИСа.   
                  .repertoire-list-item-actors 
                    p Актерский факультет, режиссерский факультет.
                  .repertoire-list-item-genre Мелодрама, комедия
              
                .repertoire-list-item-info
                  .repertoire-list-item-info-wrap
                    .repertoire-list-item-length 2:30
                    .repertoire-list-item-interval с одним антрактом
                    .repertoire-list-item-age 16+
              
                object.playbill-item-buy
                  a.playbill-item-buy-item(href="#")
                    .playbill-item-buy-date 18.04      
                    .playbill-item-ticket
                      .playbill-item-ticket-text Купить билет
                      .playbill-item-ticket-img 
                        img(src="images/images/bill-ticket.svg", alt="")  
                  a.playbill-item-buy-item(href="#")
                    .playbill-item-buy-date 22.04      
                    .playbill-item-ticket
                      .playbill-item-ticket-text Купить билет
                      .playbill-item-ticket-img 
                        img(src="images/images/bill-ticket.svg", alt="")  
                  a.playbill-item-buy-item(href="#")
                    .playbill-item-buy-date 30.04      
                    .playbill-item-ticket
                      .playbill-item-ticket-text Купить билет
                      .playbill-item-ticket-img 
                        img(src="images/images/bill-ticket.svg", alt="")
        .repertoire-list-item
          .row
            a.col-lg-3.col-md-6.col-12(href="#")
              .repertoire-list-item-img
                img(src="images/images/bill-10.jpg", alt="спектакль")
            .col-lg-9.col-md-6.col-12
              a.repertoire-list-item-block(href="#")
                .repertoire-list-item-desc
                  .repertoire-list-item-title Ах, Оффенбах!    
                  .repertoire-list-item-subtitle Спектакль поставлен по комедии Карло Гольдони «Кьоджинские перепалки». Выпускная работа актерского факультета ГИТИСа, мастерской Андреева Владимира Алексеевича.   
                  .repertoire-list-item-actors 
                    p Актерский факультет, режиссерский факультет.
                    p Актерско-режиссерская мастерская А.С. Кончаловского
                  .repertoire-list-item-genre Мелодрама, комедия
              
                .repertoire-list-item-info
                  .repertoire-list-item-info-wrap
                    .repertoire-list-item-length 2:30
                    .repertoire-list-item-interval с одним антрактом
                    .repertoire-list-item-age 16+
              
                object.playbill-item-buy
                  a.playbill-item-buy-item(href="#")
                    .playbill-item-buy-date 18.04      
                    .playbill-item-ticket
                      .playbill-item-ticket-text Купить билет
                      .playbill-item-ticket-img 
                        img(src="images/images/bill-ticket.svg", alt="")  
                  a.playbill-item-buy-item(href="#")
                    .playbill-item-buy-date 22.04      
                    .playbill-item-ticket
                      .playbill-item-ticket-text Купить билет
                      .playbill-item-ticket-img 
                        img(src="images/images/bill-ticket.svg", alt="")  
                  a.playbill-item-buy-item(href="#")
                    .playbill-item-buy-date 30.04      
                    .playbill-item-ticket
                      .playbill-item-ticket-text Купить билет
                      .playbill-item-ticket-img 
                        img(src="images/images/bill-ticket.svg", alt="")
        .repertoire-list-item
          .row
            a.col-lg-3.col-md-6.col-12(href="#")
              .repertoire-list-item-img
                img(src="images/images/bill-11.jpg", alt="спектакль")
            .col-lg-9.col-md-6.col-12
              a.repertoire-list-item-block(href="#")
                .repertoire-list-item-desc
                  .repertoire-list-item-title Над пропастью во ржи: сеанс психоанализа    
                  .repertoire-list-item-subtitle Спектакль поставлен по комедии Карло Гольдони «Кьоджинские перепалки». Выпускная работа актерского факультета ГИТИСа, мастерской Андреева Владимира Алексеевича.   
                  .repertoire-list-item-actors 
                    p Актерский факультет, режиссерский факультет.
                    p Актерско-режиссерская мастерская А.С. Кончаловского
                  .repertoire-list-item-genre Мелодрама, комедия
              
                .repertoire-list-item-info
                  .repertoire-list-item-info-wrap
                    .repertoire-list-item-length 2:30
                    .repertoire-list-item-interval с одним антрактом
                    .repertoire-list-item-age 16+
        .repertoire-list-item
          .row
            a.col-lg-3.col-md-6.col-12(href="#")
              .repertoire-list-item-img
                img(src="images/images/bill-6.jpg", alt="спектакль")
            .col-lg-9.col-md-6.col-12
              a.repertoire-list-item-block(href="#")
                .repertoire-list-item-desc
                  .repertoire-list-item-title Романтический возраст    
                  .repertoire-list-item-subtitle Спектакль поставлен по комедии Карло Гольдони «Кьоджинские перепалки».    
                  .repertoire-list-item-actors 
                    p Актерский факультет, режиссерский факультет.
                    p Актерско-режиссерская мастерская А.С. Кончаловского
                  .repertoire-list-item-genre Мелодрама, комедия
              
                .repertoire-list-item-info
                  .repertoire-list-item-info-wrap
                    .repertoire-list-item-length 2:30
                    .repertoire-list-item-interval с одним антрактом
                    .repertoire-list-item-age 16+
    .page-ellipse
      img(src="images/images/ellipse.svg", alt="эллипс")                                   

  include includes/footer.pug      