doctype html
html(lang='ru')

include includes/head.pug

body

  include includes/header.pug

  main
    .page-header(style="background: url(images/hd/page-cover.jpg)")
      .page-header-grad
        .container
          .page-header-content
            ul.breadcrumbs
              li
                a(href="/", class="breadcrumbs-link") Главная 
              li
                a(href="/gitis", class="breadcrumbs-link breadcrumbs-link-disable") Площадки
            h1.page-title Площадки

    .stages
      .container 
        .row  
          .col-12
            .stages-item(style="background: url(images/images/stage-1.jpg) no-repeat center top/cover")
              a.stages-item-cover(href="#")
                .stages-item-name Основная сцена
                .stages-item-link Подробнее о площадке     
          .col-12
            .stages-item(style="background: url(images/images/stage-2.jpg) no-repeat center top/cover")
              a.stages-item-cover(href="#")
                .stages-item-name Новая сцена
                .stages-item-link Подробнее о площадке
          .col-lg-6.col-12 
            .main-scenes-list-item(style="background: url(images/images/main-scene-3.jpg) no-repeat center top/cover")
              a(href="#", class="main-scenes-content")
                .main-scenes-content-name Главный учебный корпус, ауд 26
                .main-scenes-content-link Подробнее о площадке
          .col-lg-6.col-12 
            .main-scenes-list-item(style="background: url(images/images/main-scene-4.jpg) no-repeat center top/cover")
              a(href="#", class="main-scenes-content")
                .main-scenes-content-name Главный учебный корпус, ауд 39
                .main-scenes-content-link Подробнее о площадке
          .col-lg-6.col-12 
            .main-scenes-list-item(style="background: url(images/images/main-scene-5.jpg) no-repeat center top/cover")
              a(href="#", class="main-scenes-content")
                .main-scenes-content-name  Главный учебный корпус, ауд 46 A
                .main-scenes-content-link Подробнее о площадке
          .col-lg-6.col-12 
            .main-scenes-list-item(style="background: url(images/images/main-scene-2.jpg) no-repeat center top/cover")
              a(href="#", class="main-scenes-content")
                .main-scenes-content-name Главный учебный корпус, ауд 46 Б
                .main-scenes-content-link Подробнее о площадке           


  include includes/footer.pug 