doctype html
html(lang='ru')

include includes/head.pug

body

  include includes/header.pug
  
  main
    .page-slider-top
      .container
        .slick-slider.stage-slider-top
          .slick-slider-slide.project-slider-top-slide
            img(src="files/stage-slide-1.jpg", alt="фото")
          .slick-slider-slide.project-slider-top-slide
            img(src="files/stage-slide-1.jpg", alt="фото")

    .page-content
      .container
        ul.breadcrumbs
          li
            a(href="/", class="breadcrumbs-link") Главная 
          li
            a(href="/gitis", class="breadcrumbs-link") Площадки
          li
            a(href="/gitis", class="breadcrumbs-link breadcrumbs-link-disable") Основная сцена

    .stage
      .container
        .row 
          .col-lg-6.col-md-5.col-12
            .stage-info
              .stage-name Основная сцена
              .contacts-phone
                a(href="tel:+74956297087") +7 (495) 629-70-87
              .contacts-adress Б. Гнездниковский пер., 10
              .contacts-email
                .contacts-email-block
                  a(href="mailto:teatr@gitis.ne") teatr@gitis.ne
              .contacts-email    
                .contacts-email-block
                  a(href="mailto:gitistheatre@gmail.com") gitistheatre@gmail.com
              .stage-downloads
                .stage-downloads-item
                  .stage-downloads-item-img
                    img.svg-inline.stage-downloads-item-pdf-svg(src="images/images/pdf.svg", alt="alt")
                    .stage-downloads-item-img-type pdf
                  .stage-downloads-item-desc
                    p Технический  
                    p райдер
                    .stage-downloads-item-buttons
                      a.stage-downloads-item-button(href="#")
                        img.svg-inline.stage-downloads-item-button-svg(src="images/images/new-window.svg", alt="alt")  
                      a.stage-downloads-item-button(href="#")
                        img.svg-inline.stage-downloads-item-button-svg(src="images/images/download.svg", alt="alt")  
                .stage-downloads-item
                  .stage-downloads-item-img
                    img.svg-inline.stage-downloads-item-pdf-svg(src="images/images/pdf.svg", alt="alt")
                    .stage-downloads-item-img-type pdf
                  .stage-downloads-item-desc
                    p Схемы  
                    p площадки
                    .stage-downloads-item-buttons
                      a.stage-downloads-item-button(href="#")
                        img.svg-inline.stage-downloads-item-button-svg(src="images/images/new-window.svg", alt="alt")  
                      a.stage-downloads-item-button(href="#")
                        img.svg-inline.stage-downloads-item-button-svg(src="images/images/download.svg", alt="alt")
          .col-lg-6.col-md-7.col-12
            .stage-desc
              .stage-desc-title Построенный в 1913 году дом по адресу Большой Гнездниковский переулок, 10 считается первым столичным небоскрёбом.
              .stage-desc-text В проекте немецкого архитектора Эрнста-Рихарда Карловича Нирнзее было целых две театральные площадки – в подвале и на крыше дома. Сцена на крыше скоро была закрыта, а в подвале первым в 1915 году расположился к тому времени уже знаменитый театр-кабаре «Летучая мышь» Никиты Балиева. Художник Сергей Судейкин расписал фойе, по его же эскизам сделали и занавес с гирляндами роз. Первое представление состоялось в сентябре 1915 года в присутствии Максима Горького и других известных гостей.
              .stage-desc-img
                img(src="images/images/building-main.svg", alt="здание Гитис")
        .row
          .col-lg-6.col-md-5.col-12
            .stage-parameters
              .stage-parameters-title Технические характеристики
              .stage-parameters-img
                img(src="images/images/plan-1.jpg", alt="Вертикальный план")
                a.stage-parameters-img-button(data-fancybox="gallery-5", href="images/images/plan-1.jpg")
                  img(src="images/images/lupe.svg", alt="alt") 
              .stage-parameters-img
                img(src="images/images/plan-2.jpg", alt="горизонтальный план")
                a.stage-parameters-img-button(data-fancybox="gallery-5", href="images/images/plan-2.jpg")
                  img(src="images/images/lupe.svg", alt="alt") 
          .col-lg-6.col-md-7.col-12
            .stage-equipment
              .stage-equipment-item
                .stage-equipment-item-title Звук
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Микрофоны
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p 10 головных гарнитур SHURE BLX1 M17 с оголовьями SM 35
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Гартнитура
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p Beyerdinamics tg 100
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Ручные беспроводные микрофоны
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p Audio-technica atw-t702 — 4 шт.
                    p Seenheiser skm 35 handled transmitter — 3 шт.
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Подвесные микрофоны
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p Audio-technica пушки — 3 шт,
                    p Mini Disk/CD player TASCAM MD — CD 1
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Звуковой пульт
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p Yamaha MG32/14 FX
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Звукоусиление Арьера
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p VTC PRO AUDIO Inception N4
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Звукоусиление зала
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p EAW LA-215
              .stage-equipment-item
                .stage-equipment-item-title Свет
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Пульт
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p Compulite vector blue
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Ителлектуальное оборудование
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p Clay Paky aLEDa WASH K10 cc — 6 шт.
                    p Robe Robin 600 LED WASH — 6 шт.
                    p Clay Paky Axcor Spot 300 — 2 шт.
                    p Robe ColorSpot 575W — 4 шт.
                    p Robe MSzoom 250at — 10 шт.
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Диммерное оборудование
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p ETC Source Four Zoom 15-30 / 25-50 — 24 шт.
                    p Spotlight vario 12 1200W — 28 шт.
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Фронтальная проекция
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p CHRISTIE DWX951
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Рирпроекция
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p Panasonic PT-EX600
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Генератор тумана
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p Jem K1 Hazer — 2 шт.
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Дым машина
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p Smoke factory Captain D
              .stage-equipment-item
                .stage-equipment-item-title Сцена
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Ширина зеркала сцены
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p 9.1м
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Высота зеркала сцены
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p 3.4м
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Глубина сцены
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p 11.2м
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Ширина сцены
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p 12.7м
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Высота сцены
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p 4.2м
                .row.stage-equipment-item-row 
                  .col-sm-4.col-5.stage-equipment-item-name Одежда сцены
                  .col-sm-8.col-7.stage-equipment-item-desc 
                    p Три плана кулис
                    p Черный кабинет
                    p Черный или коричневый половик на планшет сцены
                    p Свободный проход по заднему плану сцены из правого кармана сцены в левый (за задником)
                    p Грузы (min.4шт, max. 10шт.)
      .stage-photos
        .container
          .stage-photos-title Галерея площадки
          .row
            .col-sm-6.col-12
              a.page-content-gallery-item(data-fancybox="gallery-4", href="images/hd/gallery-1.jpg")
                img(src="images/hd/gallery-1.jpg", alt="галерея")
            .col-sm-6.col-12
              a.page-content-gallery-item(data-fancybox="gallery-4", href="images/hd/gallery-2.jpg")
                img(src="images/hd/gallery-2.jpg", alt="галерея")
            .col-sm-6.col-12
              a.page-content-gallery-item(data-fancybox="gallery-4", href="images/hd/gallery-3.jpg")
                img(src="images/hd/gallery-3.jpg", alt="галерея")
            .col-sm-6.col-12
              a.page-content-gallery-item(data-fancybox="gallery-4", href="images/hd/gallery-1.jpg")
                img(src="images/hd/gallery-1.jpg", alt="галерея")
            .col-sm-6.col-12
              a.page-content-gallery-item(data-fancybox="gallery-4", href="images/hd/gallery-3.jpg")
                img(src="images/hd/gallery-3.jpg", alt="галерея")              
      .stage-history
        .container
          .stage-history-title История площадки
          .stage-history-content
            .row.stage-history-item
              .col-lg-6.col-md-5.col-12.stage-history-item-left
                .stage-history-item-img
                  img(src="images/images/history-1.jpg", alt="история")
                .stage-history-item-date
                  .stage-history-item-date-year
                    p 19
                    p 13
                  .stage-history-item-date-slash
                    img(src="images/images/slash.svg", alt="слеш")  
                  .stage-history-item-date-year
                    p 19  
                    p 15  
                  .stage-history-item-date-line  
              .col-lg-6.col-md-7.col-12.stage-history-item-right
                p Построенный в 1913 году дом по адресу Большой Гнездниковский переулок, 10 считается первым столичным небоскрёбом или, как тогда его называли, - тучерезом. В проекте немецкого архитектора Эрнста-Рихарда Карловича Нирнзее было целых две театральные площадки – в подвале и на крыше дома. 
                p Сцена на крыше скоро была закрыта, а в подвале первым в 1915 году расположился к тому времени уже знаменитый театр-кабаре «Летучая мышь» Никиты Балиева. Художник Сергей Судейкин расписал фойе, по его же эскизам сделали и занавес с гирляндами роз. Первое представление состоялось в сентябре 1915 года в присутствии Максима Горького и других известных гостей. На юбилейные даты в представлениях Балиева можно было увидеть мэтров: Станиславского, Немировича-Данченко, Вахтангова и других «ветеранов сцены» Художественного театра, из капустников которого «Летучая мышь» и выросла. Станиславский в шутку называл себя крестным отцом «Летучей мыши». Когда Балиев гастролировал, театральное помещение подвала занимала Первая студия Московского Художественного театра. На этой сцене устраивал свои вечера Александр Вертинский, а для балиевских программ балеты ставил Касьян Голейзовский.
            .row.stage-history-item
              .col-lg-6.col-md-5.col-12.stage-history-item-left
                .stage-history-item-img
                  img(src="images/images/history-1.jpg", alt="история")
                .stage-history-item-date
                  .stage-history-item-date-year
                    p 19
                    p 20
                  .stage-history-item-date-slash
                    img(src="images/images/slash.svg", alt="слеш")  
                  .stage-history-item-date-year
                    p 19  
                    p 27  
                  .stage-history-item-date-line
              .col-lg-6.col-md-7.col-12.stage-history-item-right
                p В  начале 1920-х Балиев и большая часть труппы уехали – вначале из Москвы, потом - из России. Те, кто остались, разошлись по двум коллективам: одни продолжали работать под старым брендом, но театральный подвал были вынуждены покинуть. Другие объединились с артистами кабаре «Кривой Джимми» Николая Евреинова, которое успешно  просуществовало в театральном подвале два года.
                p В 1924-м часть труппы вливается во  вновь созданный коллектив -  Московский театр сатиры. Зрительный зал был расширен и мог вместить 500 человек. Художники Н. Кашинцев и К. Елисеев изготовили броские декорации и афиши.  В.Типот и   Н.Эрдман написали для театра сатирическое обозрение.  Вскоре в маленьком подвале популярный театр уже не умещался,.
                p В течение 1927 года труппа окончательно переехала в здание на площади Старых Триумфальных ворот (сегодня – Триумфальная площадь).
            .row.stage-history-item
              .col-lg-6.col-md-5.col-12.stage-history-item-left
                .stage-history-item-img
                  img(src="images/images/history-1.jpg", alt="история")
                .stage-history-item-date
                  .stage-history-item-date-year
                    p 19
                    p 28
                  .stage-history-item-date-slash
                    img(src="images/images/slash.svg", alt="слеш")  
                  .stage-history-item-date-year
                    p 19  
                    p 31  
                  .stage-history-item-date-line
              .col-lg-6.col-md-7.col-12.stage-history-item-right
                p С 1928 года в подвале играет Первая студия Малого театра. Выпускники Щепкинского училища заручились поддержкой примы Малого – и всего русского театра – Марии Ермоловой, и дали студии ее имя. В помещении сделали ремонт – углубили сцену, расширили ряды кресел, отремонтировали электрическое освещение, а вместо кухни, функционировавшей еще при «Летучей мыши», оборудовали комнату отдыха для актеров. 
                p В 1930 году студийцы решили перебраться на большую сцену, что не привело их к успеху, а подвал в 1931 году принял новых жильцов: молодые комсомольцы-цыгане попросили у московских властей помещение для выступлений. Когда в театре объявили набор актеров, окрестности Гнездниковского переулка превратились в настоящий цыганский табор. Первые представления шли на цыганском языке.  Благодаря Михаилу Яншину, который позже стал руководителем коллектива, труппа «Ромэна» превратилась в настоящий профессиональный театр.
            .row.stage-history-item
              .col-lg-6.col-md-5.col-12.stage-history-item-left
                .stage-history-item-date
                  .stage-history-item-date-year
                    p 19
                    p 28  
                  .stage-history-item-date-line
              .col-lg-6.col-md-7.col-12.stage-history-item-right
                p С 1928 года в подвале играет Первая студия Малого театра. Выпускники Щепкинского училища заручились поддержкой примы Малого – и всего русского театра – Марии Ермоловой, и дали студии ее имя. В помещении сделали ремонт – углубили сцену, расширили ряды кресел, отремонтировали электрическое освещение, а вместо кухни, функционировавшей еще при «Летучей мыши», оборудовали комнату отдыха для актеров. 
            .row.stage-history-item
              .col-lg-6.col-md-5.col-12.stage-history-item-left
                .stage-history-item-date
                  .stage-history-item-date-year
                    p 19
                    p 41
                  .stage-history-item-date-slash
                    img(src="images/images/slash.svg", alt="слеш")
                  .stage-history-item-date-year
                    p 19
                    p 45  
                  .stage-history-item-date-line
              .col-lg-6.col-md-7.col-12.stage-history-item-right
                p С 1928 года в подвале играет Первая студия Малого театра. Выпускники Щепкинского училища заручились поддержкой примы Малого – и всего русского театра – Марии Ермоловой, и дали студии ее имя. В помещении сделали ремонт – углубили сцену, расширили ряды кресел, отремонтировали электрическое освещение, а вместо кухни, функционировавшей еще при «Летучей мыши», оборудовали комнату отдыха для актеров. 
                p В 1930 году студийцы решили перебраться на большую сцену, что не привело их к успеху, а подвал в 1931 году принял новых жильцов: молодые комсомольцы-цыгане попросили у московских властей помещение для выступлений. Когда в театре объявили набор актеров, окрестности Гнездниковского переулка превратились в настоящий цыганский табор. Первые представления шли на цыганском языке.  Благодаря Михаилу Яншину, который позже стал руководителем коллектива, труппа «Ромэна» превратилась в настоящий профессиональный театр.
            .row.stage-history-item
              .col-lg-6.col-md-5.col-12.stage-history-item-left
                .stage-history-item-img
                  img(src="images/images/history-1.jpg", alt="история")
                .stage-history-item-date
                  .stage-history-item-date-year
                    p 19
                    p 50
                  .stage-history-item-date-slash
                    img(src="images/images/slash.svg", alt="слеш")  
                  .stage-history-item-date-year
                    p 19  
                    p 70  
                  .stage-history-item-date-line
              .col-lg-6.col-md-7.col-12.stage-history-item-right
                p С 1928 года в подвале играет Первая студия Малого театра. Выпускники Щепкинского училища заручились поддержкой примы Малого – и всего русского театра – Марии Ермоловой, и дали студии ее имя. 
            .row.stage-history-item
              .col-lg-6.col-md-5.col-12.stage-history-item-left
                .stage-history-item-img
                  img(src="images/images/history-1.jpg", alt="история")
                .stage-history-item-date
                  .stage-history-item-date-year
                    p 20
                    p 00
                  .stage-history-item-date-slash
                    img(src="images/images/slash.svg", alt="слеш")  
                  .stage-history-item-date-year
                    p 20  
                    p 20  
                  .stage-history-item-date-line
              .col-lg-6.col-md-7.col-12.stage-history-item-right
                p С 1928 года в подвале играет Первая студия Малого театра. Выпускники Щепкинского училища заручились поддержкой примы Малого – и всего русского театра – Марии Ермоловой, и дали студии ее имя. 
          .stage-history-on-top
            .stage-history-on-top-button
              .stage-history-on-top-arrow
                img(src="images/images/on-top.svg", alt="наверх")   
              .stage-history-on-top-text Наверх  


  include includes/footer.pug