ul.playbill-menu
  li
    a.day(href="#day-1") 1
  li
    a.day(href="#day-2") 2
  li
    a.day(href="#day-3") 3
  li
    a.day.weekend.current(href="#day-4") 4
  li
    a.day.weekend(href="#day-5") 5
  li
    a.day.empty(href="#day-6") 6
  li
    a.day.empty(href="#day-7") 7
  li
    a.day(href="#day-8") 8
  li
    a.day(href="#day-9") 9
  li
    a.day(href="#day-10") 10
  li
    a.day.weekend(href="#day-11") 11
  li
    a.day.weekend(href="#day-12") 12
  li
    a.day(href="#day-13") 13
  li
    a.day(href="#day-14") 14
  li
    a.day(href="#day-15") 15
  li
    a.day(href="#day-16") 16
  li
    a.day(href="#day-17") 17
  li
    a.day.weekend(href="#day-18") 18
  li
    a.day.weekend(href="#day-19") 19
  li
    a.day(href="#day-20") 20
  li
    a.day(href="#day-21") 21
  li
    a.day(href="#day-22") 22
  li
    a.day(href="#day-23") 23
  li
    a.day(href="#day-24") 24
  li
    a.day.weekend(href="#day-25") 25
  li
    a.day.weekend(href="#day-26") 26
  li
    a.day(href="#day-27") 27
  li
    a.day(href="#day-28") 28
  li
    a.day(href="#day-29") 29
  li
    a.day(href="#day-30") 30
  li
    a.day(href="#day-31") 31