ul.playbill-menu
  li
    a.letter(href="") а
  li
    a.letter(href="") б
  li
    a.letter(href="") в
  li
    a.letter(href="") г
  li
    a.letter.current(href="") д
  li
    a.letter(href="") е
  li
    a.letter.empty(href="") ё
  li
    a.letter(href="") ж
  li
    a.letter(href="") з
  li
    a.letter(href="") и
  li
    a.letter.empty(href="") й
  li
    a.letter.empty(href="") к
  li
    a.letter(href="") л
  li
    a.letter(href="") м
  li
    a.letter(href="") н
  li
    a.letter(href="") о
  li
    a.letter(href="") п
  li
    a.letter(href="") р
  li
    a.letter(href="") с
  li
    a.letter(href="") т
  li
    a.letter(href="") у
  li
    a.letter(href="") ф
  li
    a.letter(href="") х
  li
    a.letter.empty(href="") ц
  li
    a.letter.empty(href="") ч
  li
    a.letter(href="") ш
  li
    a.letter(href="") щ
  li
    a.letter.empty(href="") э
  li
    a.letter.empty(href="") ю
  li
    a.letter.empty(href="") я