.letters
  .letter а
  .letter б
  .letter в
  .letter г
  .letter.current д
  .letter е
  .letter.empty ё
  .letter ж
  .letter з
  .letter и
  .letter.empty й
  .letter.empty к
  .letter л
  .letter м
  .letter н
  .letter о
  .letter п
  .letter р
  .letter с
  .letter т
  .letter у
  .letter ф
  .letter х
  .letter.empty ц
  .letter.empty ч
  .letter ш
  .letter щ
  .letter.empty э
  .letter.empty ю
  .letter.empty я