.playbill.date.img
	.container
		.playbill-date
			a(name="day-1")
			.row
				.col-sm-2.col-3
					.playbill-day
						.playbill-day-number 01/04
						.playbill-day-name среда
				.col-sm-10.col-9
					.playbill-item
						a.playbill-item-img(href="#")
							img(src="images/images/bill-1.jpg", alt="alt")
						.playbill-item-wrap
							a.playbill-item-desc(href="#")
								.playbill-item-time
									.playbill-item-time-info 20:30
									.playbill-item-time-age 16+
								.playbill-item-title Романтический возраст
								.playbill-item-info Актерский факультет
								.playbill-item-scene Основная сцена
							.playbill-item-buy
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 18.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 22.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 30.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")
		.playbill-date
			a(name="day-2")
			.row
				.col-sm-2.col-3
					.playbill-day
						.playbill-day-number 02/04
						.playbill-day-name четверг
				.col-sm-10.col-9
					.playbill-item
						a.playbill-item-img(href="#")
							img(src="images/images/bill-2.jpg", alt="alt")
						.playbill-item-wrap
							a.playbill-item-desc(href="#")
								.playbill-item-time
									.playbill-item-time-info 20:30
									.playbill-item-time-age 16+
								.playbill-item-title Над пропастью во ржи: сеанс психоанализа, очень длинный заголовок спектакля
								.playbill-item-info Актерский факультет, Актерско-режиссерская мастерская А.С.Кончаловского
								.playbill-item-scene Основная сцена
							.playbill-item-buy
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 18.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 22.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 30.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")
					.playbill-item
						a.playbill-item-img(href="#")
							img(src="images/images/bill-3.jpg", alt="alt")
						.playbill-item-wrap
							a.playbill-item-desc(href="#")
								.playbill-item-time
									.playbill-item-time-info 20:30
									.playbill-item-time-age 16+
								.playbill-item-title Романтический возраст
								.playbill-item-info Актерский факультет
								.playbill-item-scene Основная сцена
							.playbill-item-buy
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 18.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 22.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 30.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")
		.playbill-date
			a(name="day-3")
			.row
				.col-sm-2.col-3
					.playbill-day
						.playbill-day-number 03/04
						.playbill-day-name Пятница
				.col-sm-10.col-9
					.playbill-item
						a.playbill-item-img(href="#")
							img(src="images/images/bill-4.jpg", alt="alt")
						.playbill-item-wrap
							a.playbill-item-desc(href="#")
								.playbill-item-time
									.playbill-item-time-info 20:30
									.playbill-item-time-age 16+
								.playbill-item-title Выстрел
								.playbill-item-info Актерский факультет
								.playbill-item-scene Основная сцена
							.playbill-item-buy
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 18.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 22.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 30.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")
		.playbill-date
			a(name="day-4")
			.row
				.col-sm-2.col-3
					.playbill-day.weekend
						.playbill-day-number 04/04
						.playbill-day-name Суббота
				.col-sm-10.col-9
					.playbill-item
						a.playbill-item-img(href="#")
							img(src="images/images/bill-5.jpg", alt="alt")
						.playbill-item-wrap
							a.playbill-item-desc(href="#")
								.playbill-item-time
									.playbill-item-time-info 20:30
									.playbill-item-time-age 16+
								.playbill-item-title Романтический возраст
								.playbill-item-info Актерский факультет
								.playbill-item-scene Основная сцена
							.playbill-item-buy
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 18.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 22.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 30.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")
					.playbill-item
						a.playbill-item-img(href="#")
							img(src="images/images/bill-6.jpg", alt="alt")
						.playbill-item-wrap
							a.playbill-item-desc(href="#")
								.playbill-item-time
									.playbill-item-time-info 20:30
									.playbill-item-time-age 16+
								.playbill-item-title Выстрел
								.playbill-item-info Актерский факультет
								.playbill-item-scene Основная сцена
							.playbill-item-buy
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 18.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 22.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 30.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")
					.playbill-item
						a.playbill-item-img(href="#")
							img(src="images/images/bill-7.jpg", alt="alt")
						.playbill-item-wrap
							a.playbill-item-desc(href="#")
								.playbill-item-time
									.playbill-item-time-info 20:30
									.playbill-item-time-age 16+
								.playbill-item-title Над пропастью во ржи: сеанс психоанализа
								.playbill-item-info Актерский факультет
								.playbill-item-scene Основная сцена
							.playbill-item-buy
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 18.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 22.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 30.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")
		.playbill-date
			a(name="day-5")
			.row
				.col-sm-2.col-3
					.playbill-day.weekend
						.playbill-day-number 05/04
						.playbill-day-name воскресенье
				.col-sm-10.col-9
					.playbill-item
						a.playbill-item-img(href="#")
							img(src="images/images/bill-1.jpg", alt="alt")
						.playbill-item-wrap
							a.playbill-item-desc(href="#")
								.playbill-item-time
									.playbill-item-time-info 20:30
									.playbill-item-time-age 16+
								.playbill-item-title Романтический возраст
								.playbill-item-info Актерский факультет
								.playbill-item-scene Основная сцена
							.playbill-item-buy
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 18.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 22.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
								a.playbill-item-buy-item(href="#")
									.playbill-item-buy-date 30.04      
									.playbill-item-ticket
										.playbill-item-ticket-text Купить билет
										.playbill-item-ticket-img 
											img(src="images/images/bill-ticket.svg", alt="")  
											