.playbill.date.noimg
  .container
    .playbill-date
      .row
        .col-sm-2.col-3
          .playbill-day
            .playbill-day-number 01/04
            .playbill-day-name среда
        .col-sm-10.col-9
          .playbill-item
            .playbill-item-time
              .playbill-item-time-info 20:30
              .playbill-item-time-age 16+
            .playbill-item-desc                  
              .playbill-item-title Романтический возраст
              .playbill-item-info Актерский факультет
              .playbill-item-scene Основная сцена
            .playbill-item-ticket
              a(href="#")
                .playbill-item-ticket-text Купить билет
                .playbill-item-ticket-img 
                  img(src="images/images/bill-ticket.svg", alt="купить билет")  
    .playbill-date
      .row
        .col-sm-2.col-3
          .playbill-day
            .playbill-day-number 02/04
            .playbill-day-name четверг
        .col-sm-10.col-9
          .playbill-item
            .playbill-item-time
              .playbill-item-time-info 20:30
              .playbill-item-time-age 16+
            .playbill-item-desc
              .playbill-item-title Над пропастью во ржи: сеанс психоанализа, очень длинный заголовок спектакля
              .playbill-item-info Актерский факультет, Актерско-режиссерская мастерская А.С.Кончаловского
              .playbill-item-scene Основная сцена
            .playbill-item-ticket
              a(href="#")
                .playbill-item-ticket-text Купить билет
                .playbill-item-ticket-img 
                  img(src="images/images/bill-ticket.svg", alt="купить билет")  
          .playbill-item
            .playbill-item-time
              .playbill-item-time-info 20:30
              .playbill-item-time-age 16+
            .playbill-item-desc
              .playbill-item-title Романтический возраст
              .playbill-item-info Актерский факультет
              .playbill-item-scene Основная сцена
            .playbill-item-ticket
              a(href="#")
                .playbill-item-ticket-text Купить билет
                .playbill-item-ticket-img 
                  img(src="images/images/bill-ticket.svg", alt="купить билет")  
    .playbill-date
      .row
        .col-sm-2.col-3
          .playbill-day
            .playbill-day-number 03/04
            .playbill-day-name Пятница
        .col-sm-10.col-9
          .playbill-item
            .playbill-item-time
              .playbill-item-time-info 20:30
              .playbill-item-time-age 16+
            .playbill-item-desc
              .playbill-item-title Выстрел
              .playbill-item-info Актерский факультет
              .playbill-item-scene Основная сцена
            .playbill-item-ticket
              a(href="#")
                .playbill-item-ticket-text Купить билет
                .playbill-item-ticket-img 
                  img(src="images/images/bill-ticket.svg", alt="купить билет")
    .playbill-date
      .row
        .col-sm-2.col-3
          .playbill-day.weekend
            .playbill-day-number 04/04
            .playbill-day-name Суббота
        .col-sm-10.col-9
          .playbill-item
            .playbill-item-time
              .playbill-item-time-info 20:30
              .playbill-item-time-age 16+
            .playbill-item-desc
              .playbill-item-title Романтический возраст
              .playbill-item-info Актерский факультет
              .playbill-item-scene Основная сцена
            .playbill-item-ticket
              a(href="#")
                .playbill-item-ticket-text Купить билет
                .playbill-item-ticket-img 
                  img(src="images/images/bill-ticket.svg", alt="купить билет")
          .playbill-item
            .playbill-item-time
              .playbill-item-time-info 20:30
              .playbill-item-time-age 16+
            .playbill-item-desc
              .playbill-item-title Выстрел
              .playbill-item-info Актерский факультет
              .playbill-item-scene Основная сцена
            .playbill-item-ticket
              a(href="#")
                .playbill-item-ticket-text Купить билет
                .playbill-item-ticket-img 
                  img(src="images/images/bill-ticket.svg", alt="купить билет")
          .playbill-item
            .playbill-item-time
              .playbill-item-time-info 20:30
              .playbill-item-time-age 16+
            .playbill-item-desc
              .playbill-item-title Над пропастью во ржи: сеанс психоанализа
              .playbill-item-info Актерский факультет
              .playbill-item-scene Основная сцена
            .playbill-item-ticket
              a(href="#")
                .playbill-item-ticket-text Купить билет
                .playbill-item-ticket-img 
                  img(src="images/images/bill-ticket.svg", alt="купить билет")
    .playbill-date
      .row
        .col-sm-2.col-3
          .playbill-day.weekend
            .playbill-day-number 05/04
            .playbill-day-name воскресенье
        .col-sm-10.col-9
          .playbill-item
            .playbill-item-time
              .playbill-item-time-info 20:30
              .playbill-item-time-age 16+
            .playbill-item-desc
              .playbill-item-title Романтический возраст
              .playbill-item-info Актерский факультет
              .playbill-item-scene Основная сцена
            .playbill-item-ticket
              a(href="#")
                .playbill-item-ticket-text Купить билет
                .playbill-item-ticket-img 
                  img(src="images/images/bill-ticket.svg", alt="купить билет")