.playbill.abc.img
  .container
    .playbill-date
      .row
        .col-sm-2.col-3
          .playbill-day 
            .playbill-day-letter а
        .col-sm-10.col-9
          .playbill-item
            a.playbill-item-img(href="#")
              img(src="images/images/bill-8.jpg", alt="alt")        
            .playbill-item-wrap      
              a.playbill-item-desc(href="#")
                .playbill-item-time
                  .playbill-item-time-info 2:30                
                  .playbill-item-time-age 16+
                .playbill-item-title Ах, Оффенбах!
                .playbill-item-info Актерский факультет, Актерско-режиссерская мастерская А.С.Кончаловского
                .playbill-item-scene Основная сцена        
              .playbill-item-buy
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 18.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")  
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 22.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")  
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 30.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")  
    .playbill-date
      .row
        .col-sm-2.col-3
          .playbill-day 
            .playbill-day-letter б
        .col-sm-10.col-9
          .playbill-item
            a.playbill-item-img(href="#")
              img(src="images/images/bill-10.jpg", alt="")
            .playbill-item-wrap
              a.playbill-item-desc(href="#")
                .playbill-item-time
                  .playbill-item-time-info 2:30                
                  .playbill-item-time-age 16+
                .playbill-item-title Бернарда Альба
                .playbill-item-info Актерский факультет
                .playbill-item-scene Основная сцена        
              .playbill-item-buy
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 18.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")  
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 22.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")  
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 30.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")
          .playbill-item
            a.playbill-item-img(href="#")
              img(src="images/images/bill-11.jpg", alt="")
            .playbill-item-wrap
              a.playbill-item-desc(href="#")
                .playbill-item-time
                  .playbill-item-time-info 2:30                
                  .playbill-item-time-age 16+
                .playbill-item-title Бешеные деньги
                .playbill-item-info Актерский факультет
                .playbill-item-scene Новая сцена        
              .playbill-item-buy
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 18.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")  
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 22.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")  
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 30.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")
    .playbill-date
      .row
        .col-sm-2.col-3
          .playbill-day 
            .playbill-day-letter в
        .col-sm-10.col-9
          .playbill-item
            a.playbill-item-img(href="#")
              img(src="images/images/bill-10.jpg", alt="")
            .playbill-item-wrap
              a.playbill-item-desc(href="#")
                .playbill-item-time
                  .playbill-item-time-info 2:30                
                  .playbill-item-time-age 16+
                .playbill-item-title Выстрел
                .playbill-item-info Актерский факультет
                .playbill-item-scene Основная сцена        
              .playbill-item-buy
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 18.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")  
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 22.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")  
                a.playbill-item-buy-item(href="#")
                  .playbill-item-buy-date 30.04      
                  .playbill-item-ticket
                    .playbill-item-ticket-text Купить билет
                    .playbill-item-ticket-img 
                      img(src="images/images/bill-ticket.svg", alt="")