.footer
  padding: 91px 0 55px
  background: $brown
  &-scene
    margin-bottom: 40px
    &-title
      +norm
      font-size: 40px
      line-height: 48px
      color: $white
      margin-bottom: 0
  
  &-contacts
    display: flex    
    border-top: 5px solid $white
    border-bottom: 1px solid $white
    padding: 43px 0 100px
    margin-bottom: 94px
    &-main 
      flex-basis: 50%
      &:nth-of-type(2)
        padding-left: 15px         
    &-phone, &-adress, &-time
      display: block
      margin-bottom: 10px
      +norm 
      font-size: 16px
      line-height: 26px
      color: $white
    &-map
      display: flex
      margin-top: 32px
      &-icon
        width: 15px
        height: 20px
        margin-right: 12px
      &-link 
        +norm
        font-size: 16px
        font-weight: 300
        color: $red  
  &-social
    &-text
      +norm
      font-size: 16px
      font-weight: 300
      line-height: 20px
      color: $white
      text-align: right
      transform: translate(8px, -8px)
    &-icons
      display: flex
      height: 235px
      flex-direction: column
      transform: translateY(-48%)
    &-link
      display: flex
      align-items: center
      justify-content: center
      padding: 21px

  &-copyrights
    p
      +norm
      font-size: 13px
      line-height: 28px
      font-weight: 300
      color: $white
      max-width: 320px
      margin-bottom: 10px
  &-menu
    &-link
      display: block
      +norm
      font-size: 20px
      line-height: 30px
      color: $white 
      margin-bottom: 15px
      &-study
        position: relative
        margin-top: 107px
        color: $red
        padding-left: 24px
        &::before
          position: absolute
          content: '/'
          left: 0
          top: 0
  &-logo
    transform: translate(-19px, -13px)        
  &-tickets
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-end
    
    &-link 
      display: flex
      flex-direction: column
      align-items: flex-end
      text-align: end
      padding-right: 28px
      margin-top: 70px
      z-index: 1
      img
        margin-bottom: 6px
      p 
        +norm 
        font-size: 40px
        line-height: 40px
        color: $red
        margin-bottom: 0 
    &-svg 
      position: absolute
      bottom: -55px
      right: -60px    


    
    
              







      



