.footer
  padding: 91px 0 53px
  background: $brown
  overflow: hidden
  .ordered
    z-index: 1  
  &-scene
    position: relative
    margin-bottom: 92px
    &::after
      position: absolute
      content: ''
      bottom: 0
      left: 0
      height: 1px
      width: calc(100% + 30px) 
      background: $white
    &.second                  
      &::after
        width: 100%
    &.last                  
      &::after
        display: none

    &-title
      position: relative
      padding-bottom: 44px 
      +norm
      font-size: 40px
      line-height: 48px
      color: $white
      margin-bottom: 0
      &::after
        position: absolute
        content: ''
        bottom: 0
        left: 0
        height: 5px
        width: 100% 
        background: $white          
    &-contacts
      min-height: 300px
      padding: 43px 0 0         
      &-phone a, &-adress, &-time
        margin-bottom: 10px
        +norm 
        font-size: 16px
        line-height: 26px
        color: $white
      &-phone
        margin-bottom: 10px  
      &-map     
        margin-top: 30px
        &-link
          position: relative
          +norm
          font-size: 16px
          font-weight: 300
          color: $red
          padding-left: 28px
          &::before
            position: absolute
            top: 0
            left: 0
            content: url(../images/images/point.svg)
  &-social
    &-text
      display: none
    &-icons
      display: flex
      margin-top: 8px
      transform: translateX(-33px)
    &-link
      display: flex
      align-items: center
      justify-content: center
      padding: 21px 30px

  &-copyrights
    p
      +norm
      font-size: 13px
      line-height: 28px
      font-weight: 300
      color: $white
      max-width: 320px
      margin-bottom: 10px
    .footer-menu-link-study
      display: none  
  &-menu
    display: flex
    &-block
      &:first-of-type
        margin-right: 110px
    &-link       
      margin-bottom: 15px
      a 
        +norm
        font-size: 20px
        line-height: 30px
        color: $white
      &-study
        margin-top: 8px
        a
          +norm
          font-size: 20px
          line-height: 30px
          position: relative
          color: $red
          padding-left: 20px
          &::before
            position: absolute
            content: '/'
            left: 0
            top: -4px
  &-logo
    width: 340px
    transform: translate(-13px, -13px)
    img 
      width: 100%              
  &-tickets
    position: relative
    display: flex
    flex-direction: column
    overflow: hidden
    &-link 
      display: flex
      flex-direction: column
      padding-right: 28px
      margin-top: 51px
      z-index: 1
      &-img
        width: 22px
        margin-bottom: 26px
        img 
          width: 100%
      p 
        +norm 
        font-size: 40px
        line-height: 40px
        color: $red
        margin-bottom: 0
  &-block
    position: relative
    &-svg
      position: absolute
      left: -76px
      bottom: -200px
      width: 616px
      img 
        width: 100%              

@media screen and ( max-width: 1439px )
  .footer
    &-scene
      &-title 
        font-size: 36px
        line-height: 46px
    &-logo 
      width: 288px
    &-menu
      &-block
        &:first-of-type
          margin-right: 84px
    &-block-svg
      width: 550px
      bottom: -157px      
@media screen and ( max-width: 991px )
  .footer
    &-scene
      padding-bottom: 60px
      margin-bottom: 0
      &::after
        display: none      
      &-title
        br 
          display: none        
      &-contacts
        min-height: auto                
    &-social
      display: flex
      align-items: center
      padding-bottom: 44px
      border-bottom: 1px solid $white
      margin-bottom: 24px
      &-text
        display: block
        +norm 
        font-weight: 300
        font-size: 13px
        line-height: 20px
        color: $white              
      &-icons
        margin-top: 0
        height: auto
        flex-direction: row 
        padding-top: 0 
        transform: translateX(0)             
    .ordered
      order: -1
      .footer-menu-link-study
        display: none
    &-copyrights
      margin-bottom: 50px
      p 
        max-width: none
      .footer-menu-link-study
        display: block
        margin-top: 30px
    &-tickets
      flex-direction: row
      align-items: center
      
      &-link 
        margin: 0 0 0 30px
        padding-right: 0
    &-logo  
      transform: translate(0, 0)
    &-block-svg
      width: 430px  
@media screen and ( max-width: 575px )
  .footer
    padding: 40px 0 48px
    &-scene
      padding-bottom: 40px
      &.second
        padding-bottom: 23px
      &-title
        padding-bottom: 25px
        p 
          font-size: 30px
          line-height: 40px
      &-contacts
        padding-top: 20px
        &-phone, &-adress, &-time
          font-weight: 300
          font-size: 16px
          line-height: 30px          
          margin-bottom: 0
        &-map
          margin-top: 19px  
    &-social
      padding-bottom: 34px
      margin-bottom: 22px
      &-text
        font-weight: 300
        font-size: 13px
        line-height: 20px
        min-width: 45%        
      &-link
        padding: 21px 
        &:last-child
          display: none
    &-menu
      &-block
        &:first-of-type
          margin-right: 70px 
      &-link
        margin-bottom: 0
        a  
          font-size: 16px
        &-study
          margin-top: 16px
          a 
            font-size: 16px
            line-height: 19px            
    &-copyrights
      margin-bottom: 30px
      p 
        font-size: 10px
        line-height: 18px
        font-weight: 300
      .footer-menu-link-study        
        margin-top: 16px
        a 
          &::before
            font-size: 20px
            top: 0  
    &-logo
      width: 190px
      min-width: 190px
      transform: translateY(8px)
    &-tickets
      justify-content: space-between
      &-link
        margin-left: 18px 
        p 
          font-size: 20px
          line-height: 24px
   