.modal-form
	position: relative
	width: 815px
	background: $white
	&.fancybox-content
		padding: 73px 104px
		background: $white
	&-close
		position: absolute
		top: 0
		right: 0
		background: transparent
		padding: 30px
		svg 
			path 
				stroke: $black
	&-ttl
		+bold
		font-weight: 500
		font-size: 50px
		line-height: 50px
		color: $black
		margin-bottom: 20px
	&-sbttl
		+norm
		font-size: 22px
		line-height: 32px
		color: $red
		margin-bottom: 30px
	&-text
		+norm
		font-size: 18px
		line-height: 24px
		margin-bottom: 15px
		&-bold
			font-size: 18px
			line-height: 24px
			+bold	
			margin-bottom: 15px
	&-return-close
		font-size: 22px
		line-height: 30px
		width: min-content
		display: flex
		align-items: center
		text-align: center
		background: $red
		color: $white
		padding: 15px 40px
		margin: 0 auto
		cursor: pointer
		transition: .3s		
	.input
		width: 100%
		height: 70px
		position: relative
		margin-bottom: 30px
		&.input-textarea
			height: auto
			min-height: 70px
			textarea
				-webkit-appearance: none
				resize: none

		input, textarea
			width: 100%
			height: 100%
			padding: 20px 0 0
			color: $black
			font-size: 20px
			line-height: 24px
			border-bottom: 1px solid $black
			outline: 0
		label
			&.label
				position: absolute
				top: 23px
				left: 0
				width: 100%
				font-size: 20px
				line-height: 24px
				+norm
				color: #9d9d9d
				margin-bottom: 0
				transition: .3s
				transform-origin: left 
				&.focused
					transform: translateY(-25px) scale(0.75)
			&.error
				+norm
				font-size: 14px
				line-height: 20px
				color: $red
				margin-bottom: 0
	.button
		width: 100%
		height: 55px
		background: $red
		color: $white
		+norm
		font-weight: 500
		font-size: 20px
		line-height: 26px
	.polici
		+norm
		font-size: 12px
		line-height: 20px
		color: $black
		p 
			margin-bottom: 0
		&-link
			a
				color: $red

@media screen and ( max-width: 991px )
	.modal-form
		width: 700px
		&.fancybox-content
			padding: 60px 80px
		&-ttl
			font-size: 44px
			line-height: 44px
		&-sbttl
			font-size: 20px
			line-height: 30px
		.input
			height: 60px
			margin-bottom: 20px			

@media screen and ( max-width: 767px )
	.modal-form
		width: 100%
		&.fancybox-content
			padding: 40px 30px
		&-close
			padding: 10px				
		&-ttl
			font-size: 34px
			line-height: 34px
			margin-bottom: 15px
		&-sbttl
			font-size: 14px
			line-height: 20px
			margin-bottom: 15px
		&-text, &-text p
			font-size: 16px
			line-height: 20px 

		.input
			height: 44px
			&.input-textarea
				height: auto
				min-height: 44px
			input, textarea
				font-size: 16px
				line-height: 20px
				padding-top: 16px
			label
				&.label
					font-size: 16px
					line-height: 20px
					top: 16px	
					&.focused
						transform: translateY(-18px) scale(0.8)
				&.error
					font-size: 12px
					line-height: 16px	
		.button
			font-size: 16px
			line-height: 20px
			height: 46px
			margin-bottom: 10px	
	.modal-form-return-close
		font-size: 18px
		line-height: 24px
		padding: 10px 30px														